[2021-11-27 00:17] FiftyFour7250 opened #1 "Can't install the HASS.Agent-Notifier integration"
Hey. I have problems installing the integration, I wrote about it [here ](https://github.com/LAB02-Research/HASS.Agent-Notifier/issues/1)but just in case you don't follow the issues in that repository, I hurried to write here)

[2021-11-30 08:25] LAB02-Admin commented on #1
Hi @FiftyFour7250, you're right, I'm still waiting for @ludeeus to [accept my pull-request](https://github.com/hacs/default/pull/1137)! As soon as that's done, it'll show up in HACS.

Until then, you can manually install by [downloading the .zip from here](https://github.com/LAB02-Research/HASS.Agent-Notifier/archive/refs/heads/master.zip), then extract the content of `HASS.Agent-Notifier-master\c

[2021-11-30 08:27] LAB02-Admin commented on #1
Closing, [continuing here](https://github.com/LAB02-Research/HASS.Agent-Notifier/issues/1).

[2021-11-30 08:27] #1 closed

[2021-11-30 18:26] FiftyFour7250 opened #2 "Hotkeys for each action?"
Just a suggestion, I'm using another utility from github for this now, but it would be cool if it were in your app as well.

Now it's possible to open window with the launch of scripts and automation using hotkeys, . But it would be very cool if the application had the ability to set hotkeys for each automation and script that will immediately launch them.

[2021-12-01 07:34] LAB02-Admin commented on #2
That's a great idea, will do, thanks :)

[2021-12-01 18:52] FiftyFour7250 opened #3 "Really high CPU usage"
Hi. I have i9-9900K. This is a powerful processor. And for some reason your app uses ~8.5% of it. Even a browser with almost a hundred open tabs uses less than 2%. For comparison, in Call of Duty Warzone used 25%. For what reason does your passive app, which is generally always minimized, use so much? Really much.
![image](https://user-images.githubusercontent.com/78786088/144295718-941903e3-415d-

[2021-12-01 19:19] LAB02-Admin commented on #3
I'm guessing it's because of a WMI sensor. What sensors did you add, and what are their refresh rates?

[2021-12-01 20:04] FiftyFour7250 commented on #3
Nothing. I use it only for notifications.
![image](https://user-images.githubusercontent.com/78786088/144305703-9f6838f7-fa65-4381-8108-d7ca47a09e16.png)

[2021-12-01 20:21] LAB02-Admin commented on #3
Alright, I'll look into it and let you know

[2021-12-02 08:29] LAB02-Admin commented on #3
Hi @FiftyFour7250, I just posted a new release that should address this issue. You can [download it here](https://github.com/LAB02-Research/HASS.Agent/releases/tag/v2021.12.2).

I had the same cpu issue on my machine, just didn't notice it, so I'm glad you did and thanks for posting the issue here :)

Let me know if you find anything else, and I'll give you an heads-up when I've added the quickact

[2021-12-02 15:33] FiftyFour7250 commented on #3
Yes, it's fixed. Thanks)

[2021-12-02 15:33] #3 closed

[2021-12-03 10:56] LAB02-Admin commented on #2
This has been added in the [latest release](https://github.com/LAB02-Research/HASS.Agent/releases/tag/v2021.12.3).

Thanks for the tip!

[2021-12-03 10:56] #2 closed

[2021-12-03 16:30] FiftyFour7250 opened #4 "It's broken, and marked as a virus("
Hey, thanks for adding keyboard shortcuts, but I haven't been able to test them yet. Already when downloading, my browser detected a threat in the archive, so I downloaded the new version through another browser, but when unpacking Windows Defender detected a Trojan:Win32/Sabsik.TE.A!ml in HASS.Agent.exe so I uploaded both the archive and only one the exe file on Virustotal, and nothing was found

[2021-12-03 17:06] LAB02-Admin commented on #4
Hey @FiftyFour7250, thanks again, you've been really helpful with your posts :)

I've signed all the binaries with an EV-code signing certificate. Could you download the updated .zip to see if it's accepted?

[2021-12-03 17:36] FiftyFour7250 commented on #4
Looks like it's no longer detected as a virus, but still doesn't start(

[2021-12-03 18:22] LAB02-Admin commented on #4
Should work now: [HASS.Agent.zip](https://github.com/LAB02-Research/HASS.Agent/releases/download/v2021.12.3/HASS.Agent.zip)

[2021-12-03 18:59] FiftyFour7250 commented on #4
Yea, perfect. Thanks)

[2021-12-03 18:59] #4 closed

[2021-12-21 16:11] brianhanifin opened #5 "Image display fails on dynamic URL"
First, this is nice. Thank you!

I would like to use this to popup a still image of the person at the front door. In my testing I found the following.

The following URL works:
[code]

While a dynamic URL pulled from the `entity_picture` attribute of a camera does not.
[code]

---

FYI. in my `script.notify_pc` I use the `variables:` section to extract the dynamic URL.

[code]

[2021-12-21 16:21] LAB02-Admin commented on #5
Hey Brian, thanks, glad you like it :)

I've transferred your issue to HASS.Agent, as that's where this is failing. I'll look into it and let you know!

[2021-12-21 17:33] LAB02-Admin commented on #5
Looks like it's failing in two places, at least when I'm trying to reproduce this.

For starters, the script was sending an empty image variable. I had to change the variable part as following (specifically the quotes, I didn't use a camera variable):

[code]

Afterwards I did receive a working url on my pc.

Perhaps your script already works fine: you can check by looking in the HASS.Agent logs -

[2021-12-21 22:46] brianhanifin commented on #5
Your update fixed it! Thank you! I love the idea of being able to see who is at the door without having to getting my phone out of my pocket when I'm at my PC!

[2021-12-21 22:46] #5 closed

[2021-12-22 08:00] LAB02-Admin commented on #5
Great! Good to hear, that was also one of my main reasons for that function 😄

[2021-12-22 08:16] LAB02-Admin commented on #5
Added your idea of using the proxy to the [README file](https://github.com/LAB02-Research/HASS.Agent-Notifier/blob/master/README.md#camera-proxy), thanks!

[2021-12-22 10:16] littlbee opened #6 "How to get enrolled in BPost My Mil"
Hello,
looks like a nice extension for Home Assistant. But just wondering how to be able to participate in this My Mail program from BPost? Been searching in the Bpost mobile app and in "My preferences" on the Bpost website but can't seem to find a way to enrol in that program.

[2021-12-22 10:16] littlbee commented on #6
Sorry, wrong repo ;-)

[2021-12-22 10:16] #6 closed

[2021-12-23 17:53] abel2660 opened #7 "Command "KeyCommand""
What does the "KeyCode" parameter mean?

[2021-12-23 18:02] LAB02-Admin commented on #7
You can choose [any of these keycodes](https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes) and they'll be simulated.

Currently limited to only one keycode per command, and using this list is a bit tedious. I'm working on a new version that supports multiple keys. You can also just press the keys when creating the command, and it'll look up the codes for you.

[2021-12-23 18:12] abel2660 commented on #7
Thanks

[2021-12-23 18:21] abel2660 commented on #7
Are there any way to simulate a "Ctrl" or a "Alt" key press?

[2021-12-23 18:59] LAB02-Admin commented on #7
CTRL is `0x11` and ALT is `0x12`, but a combination like ALT + B can't be done with the current version.

If you want, you can try using something like [AutoHotkey](https://www.autohotkey.com) to do the key presses for you.

[2021-12-24 09:33] miit86 opened #8 "Sensor update interval not working"
Hi,

sensor update interval is not working.
tried: 15 sec and 60 sec for volume.
GPU usage is by default at 300 sec.
but al sensors announce every second.

[2021-12-24 10:57] LAB02-Admin commented on #8
Thanks, I'll look into it

[2021-12-27 11:50] miit86 commented on #8
Hi,

Noticed another thing: The application memory usage's keeps increasing with every sensor update.

[2021-12-29 14:23] LAB02-Admin commented on #8
Thanks for the info @miit86, very helpful :)

I'm going through the entire sensors code and adding new functionality (like 'multi-value sensors', for instance when you want to sent info of all drives, cpu cores, etc). That's why it's taking a bit longer (well that and the holidays).

Should have a new version ready next week at the latest

[2021-12-29 14:23] #7 closed

[2021-12-31 08:14] LAB02-Admin commented on #8
Hey @miit86,

The interval bug's fixed. I ran some extensive memory profiling & tracing on the latest version, with all sensors enabled, and couldn't find any leaks or significant increases.

Could you please check to see if it's also fixed on your end? Otherwise please open a new ticket so we can figure it out.

[2021-12-31 08:14] #8 closed

[2022-01-01 22:26] SecretiveShell opened #9 "[Enhancement] Default MQTT broker URL to the home assistant URL"
A large majority of home assistant users run Hass OS and the mosquito addon, or otherwise run their MQTT broker from the same machine as their home assistant  instance. Because of this it makes sense to use the Home assistant URL provided in step 5 of the onboarding process as the default MQTT broker plugin in step 6.

[2022-01-03 14:17] LAB02-Admin commented on #9
Good thinking @SecretiveShell :) Will do, thanks!

[2022-01-03 22:08] xpac1985 opened #10 "Default hotkey for quick actions blocks the @ character on German keyboards"
Hey,
the default hotkey for quick actions (CTRL + ALT + Q) blocks the @ character on German keyboards.
Took me a little to figure out whick of my new toys didn't want me to send mails anymore ;-)
May I recommend to pick a different default hotkey, or not to enable it by default, or...

Thanks for your work!

[2022-01-04 09:09] LAB02-Admin commented on #10
Ah, nasty, thanks for letting me know. I'll disable it by default, add a warning for German users when enabling it while still having the default hotkey configured and a general headsup for other languages.

[2022-01-04 11:23] LAB02-Admin commented on #9
Added in v2022.1.4

[2022-01-04 11:23] #9 closed

[2022-01-04 11:24] LAB02-Admin commented on #10
Added in v2022.1.4

[2022-01-04 11:24] #10 closed

[2022-01-04 12:17] ivanlee1007 opened #11 "Is it possible to support MQTT discovery?"
It would be great if all local sensors can be discovered by home assistant as entities.
https://www.home-assistant.io/docs/mqtt/discovery/
And thanks for your wonderful work!

[2022-01-04 12:32] LAB02-Admin commented on #11
Hi @ivanlee1007,

They should already be discovered by HA as entities. Are they not showing up in your instance at all, or do you mean something else?

[2022-01-04 13:28] ivanlee1007 commented on #11
Sorry they are just not showing in my instance at all so I thought it may not support MQTT discovery.
I will keep trying and hope I can find where the problem is in my HA.
Thanks.

[2022-01-04 13:40] LAB02-Admin commented on #11
Maybe I can still help. For starters, could you look through HASS.Agent's logs to see if there are any exceptions? If you've used the installer, they're located in `%appdata%\LAB02 Research\HASS.Agent\Logs`.

I'm assuming you configured MQTT by the way, and its status shows as 'ok' in the main window.

If there are no exceptions or errors showing in the logs, could you checking Home Assistant's lo

[2022-01-04 16:47] ivanlee1007 commented on #11
Hi @LAB02-Admin,

After some tests, I found the problem should be a customized mqtt setting in my HA's configuration.yaml file:

mqtt:
  discovery: true
  discovery_prefix: ha    <-- This customized discovery_prefix should be the problem.

When I change it back to default string: 'homeassistant', everything just works fine. But if I change it to 'ha' (I use it for my other devices), nothing will s

[2022-01-04 17:27] LAB02-Admin commented on #11
Sure, no problem. Will add it to the next version.

[2022-01-04 17:30] miit86 opened #12 "Availability doesn't change on shutdown"
Hi,

Love your work, Sensor updates are OK now.
I use the Agent on my PC that is connected with my wifi.

When I use the shutdown command the PC shuts down. :P
but the "homeassistant/sensor/<PC-NAME>/availability" doesn't change from online to offline.
It would be nice if I can use the availability as status for On or Off.

I know there are other ways to accomplish this. but I realy love the usage

[2022-01-04 17:34] LAB02-Admin commented on #12
Good call, I need to catch Windows' shutdown announcement. Not that difficult, will add in the next version.

Thanks!

[2022-01-04 20:31] bfish2 opened #13 "Can't store LockPC command"
Thanks for creating such an awesome application!

I have tried repeatedly to add the "LockCommand".  Each time it appears to create, but when  "Store and activate commands" and then go back in to the Commands section, it is empty.  I did check on HA for the entity and it did not appear either.

[2022-01-05 01:11] franzbischoff opened #14 "[Request] It is possible to use the Scroll Lock in combination?"
I'm using an AHK script to send MQTT requests to my HA, and I use the following combinations:

Scroll Lock + [1-0]

This is handy because Scroll Lock is quite never used anywhere, and I never use Scroll Lock for anything (AHK captures the Scroll Lock and even avoids the misuse of this key).

Just a thought :)

KUTGW

[2022-01-05 08:43] LAB02-Admin commented on #14
Interesting and good point, I'll look into it! Thanks

[2022-01-05 08:43] LAB02-Admin commented on #13
Yep, bug. Will fix for next version. Nice catch, thanks

[2022-01-06 00:42] mitchcapper opened #15 "Features: support certificates, low-integrity commands"
Hello!  Great project and has quite the feature scope.   I ended up going a different route but a few suggestions to consider:

- You start the Notifications local server no matter if the user wants to listen to notifications or not.  You also listen on all ips.  It would be a better security practice to only start the server if they enable it (especially as you require restarts for config changes

[2022-01-06 09:18] LAB02-Admin commented on #15
Hi @mitchcapper. Thanks, and thank you for taking the time to review! I'll first try to answer each point.

- Agreed, will change in the next version. About listening to all ips; I try to make using the app as straightforward as possible for the less tech-savvy as well. But I agree that it should be configurable, so I'll think about making something like a flyout during onboarding to specify which

[2022-01-06 16:34] GledholtHall opened #16 "App crashes on select in taskbar"
Was working OK on first install but then when changed username and password to blank it crashed.  Now won't stay running, when select icon in tray it quits.  Have tried uninstall re-install but the same. Also rebooted Windows (10).

So can't reinstall or anything.

[2022-01-06 18:00] LAB02-Admin commented on #16
Hi @GledholtHall. What username and password do you mean? For the scheduled task?

In that case, you can run this command from an elevated command prompt:

`schtasks /delete /tn HASS.Agent`

Afterwards, open this folder in Explorer:

`%appdata%\LAB02 Research\HASS.Agent\config`

There, delete the file `appsettings.json`.

Afterwards, restart HASS.Agent and you'll start at onboarding, without losin

[2022-01-06 18:24] mitchcapper commented on #15
Completely get that, and much the same situation:) Feel like a jerk to just suggest things without a PR but while an awesome app was not the best solution for me.

In terms of keeping things simple while flexible I think you could keep your on boarding exactly as it is, and just add an advanced options section for some of these options.  It can always be questionable to spend time rewriting what a

[2022-01-06 19:15] GegoSK opened #17 "Sensors not working"
Firstly: thank you very much for this addon. I was looking something similiar for a while.

After maybe a week testing, two sensors not working for me: CPU Load and CurrentClockSpeed.

Another "issue". Auto-creating task in Task manager not worked for me. It asked me to fill the name and password. I do not have windows user account with password. I had to do it manually according this https://www.

[2022-01-06 21:37] GledholtHall commented on #16
It was the MQTT credential I blanked out.
Followed the above steps through onboarding but still crashed on startup.  It had retained the MQTT broker settings - I'll have a look where those are stored and try deleting that prefs file too.

[2022-01-07 08:03] LAB02-Admin commented on #16
The MQTT credentials are definitely stored in `appsettings.json`. Can you please look if there's anything in the logs, and if so, send me the content (please remove any credentials)? They're in `%appdata%\LAB02 Research\HASS.Agent\logs`.

[2022-01-07 09:45] miit86 opened #18 "[Request] Hass Agent as Service"
Hi,

I have a computer that is used by more then one person.
the startup is a scheduled task at login. it would be nice if the program can run as a service.

I think the sensors as service is enough. so the administrator can setup the sensors.
the users should be able to setup the commands.

in my case the config part could be shared between users. I made a new user for every computer and used tha

[2022-01-07 13:24] LAB02-Admin commented on #17
Thank you @GegoSK, glad you like it!

And thank you for being observant; the sensors were indeed broken. I've fixed them (hopefully) in the new version, let me know otherwise.

Good point regarding the task without-password. I'll be removing the scheduled task part in the next update, as I'll also be removing the administrator privileges so it won't be necessary anymore.

About your question; soun

[2022-01-07 13:27] LAB02-Admin commented on #18
Hi @miit86,

I've actually been thinking about that as well, so it's on my shortlist. And I thought about the exact same option as you did; create a service for specific sensors/commands.

I'll let you know when it's done, thanks for sharing!

[2022-01-07 13:29] LAB02-Admin commented on #13
Fixed!

[2022-01-07 13:29] #13 closed

[2022-01-07 13:29] LAB02-Admin commented on #12
Fixed!

[2022-01-07 13:29] #12 closed

[2022-01-07 13:29] LAB02-Admin commented on #11
Added!

[2022-01-07 13:29] #11 closed

[2022-01-07 13:38] LAB02-Admin commented on #15
You shouldn't! I'm honestly glad you took the time to share your thoughts.

I've done some testing and I agree that admin privileges aren't required. Even getting the window title from an elevated application works fine. So I'll be removing it from the next version, and just use an elevated console to allow/remove port bindings. With that, I can also remove the scheduled task, so less overhead aft

[2022-01-07 13:38] bfish2 commented on #13
Thanks!  Works great!

[2022-01-07 13:40] LAB02-Admin commented on #16
I'm closing the ticket as it's solved, but if you do find anything interesting in the logs, please let me know :)

[2022-01-07 13:40] #16 closed

[2022-01-07 14:25] GegoSK commented on #17
@LAB02-Admin - thanks, that was quick. Mentioned sensor now worked. I forgot NetworkSensor, I do not see it in MQTT HA.

[2022-01-07 14:35] LAB02-Admin commented on #17
Yep, both network- and storage sensor aren't getting added in HA. Scheduled for next version!

[2022-01-07 15:48] LAB02-Admin commented on #17
Released a new version that fixes this bug, could you please test it?

[2022-01-07 16:19] dino-prpic opened #19 "Buttons missing"
I have trouble configuring new sensors and commands. The buttons shown in readme are not displayed, as you can see here:

![hass_agent_malfunction_sensors](https://user-images.githubusercontent.com/23002957/148573326-2970d2c8-0934-4537-8b22-d583271ba0b6.jpg)
![hass_agent_malfunction_cmd](https://user-images.githubusercontent.com/23002957/148573330-87e3c411-c64a-418f-8f75-1711802e9283.jpg)

[2022-01-07 16:25] ivanlee1007 commented on #11
Thanks a lot! It works great!

[2022-01-07 16:28] LAB02-Admin commented on #19
That's new. The form is resizable, can you try resizing a bit to see if the buttons pop up?

What resolution do you use, and what scaling?

[2022-01-07 16:53] dino-prpic commented on #19
I had scaling set to 115%, that was the problem. When i set it to 100% the buttons appeared.
Thanks!

[2022-01-07 16:53] #19 closed

[2022-01-07 16:55] LAB02-Admin commented on #19
Alright, thanks for letting me know. I'll look into it, tested with 125% scaling but that went fine.

[2022-01-08 11:21] GegoSK commented on #17
Looks like it works. So many sensors :) I will test it. Thank you very much.

[2022-01-10 20:46] b26x opened #20 "Bug: quickaction-bound hotkeys not working"
Hey there! First of all I would like to say thanky soooo much! This little program is just a dream! :)
But unfortunately I'm unable to get the quick actions hotkeys working.
On the other hand the shortcut for opening the quick action gui is working fine.

Please respond to this issue if you need any additional information.

[2022-01-10 20:49] b26x commented on #20
If tried different key combination aswell as different actions to be triggert - none of the tries were successful.

[2022-01-11 08:53] LAB02-Admin commented on #20
Hi @b26x, thank you! That's very nice to hear :)

I've had that issue reported before, so I'd really like to tackle it. The easiest way to do that is if I can reproduce the problem locally. Could you please provide me with the following:

- Your Windows version and build (you can find out by pressing winkey + r, then enter 'winver')
- Your Windows- and keyboard language
- The hotkeys you used

I'm

[2022-01-12 16:09] LAB02-Admin commented on #20
And: do you use Microsoft Powertoys, specifically Powertoys Run and even more specifically with 'Use centralised keyboard hook' enabled?

[2022-01-14 20:35] Syntoxr opened #21 "Enhancement: grouping point in port field"
This is just a very small thing.
A grouping point gets displayed in port fields when onboarding and in the Notifications tab. It's just a cosmetic thing but may be a bit confusing, especially when talking about IP-addresses:
![image](https://user-images.githubusercontent.com/63484271/149579549-287fe4ad-08fe-46e3-98c7-a408f3d8d6fe.png)

[2022-01-17 09:43] LAB02-Admin commented on #21
Agreed, will fix - thanks :)

[2022-01-17 13:26] #21 closed

[2022-01-17 13:44] LAB02-Admin commented on #17
Hi @GegoSK. I just published a release that removes the need for a scheduled task. During the update, it'll check if there's a task present, and if there is, it'll remove it and activate the new startup mechanism.

However, since you manually created the task: if the task isn't called `HASS.Agent`, it won't be deleted and the new startup mechanism won't be activated. In that case, please delete th

[2022-01-17 17:37] GegoSK commented on #17
@LAB02-Admin HASS Agent was updated, before I read your message ;). Task name was the same and it was deleted automatically. :)

[2022-01-17 17:38] Syntoxr opened #22 "Bug: parsing port-reservation output isn't language independent"
Hey,
just updated. Not using elevated rights sounds really great - many thanks 👍.
However, when updating via the installer, I got an error when registering the port. Everything seems to work though.
I guess the problem is that the console output isn't in English and contains special characters like **ü**. I've added the translations in `{{}}`:

[code]

[2022-01-17 17:53] petarvucetin opened #23 "Bug: dragging window can cause drawing issues"
When moving Agent window between monitors group lines are starting to duplicate.

![image](https://user-images.githubusercontent.com/179653/149817864-d584310d-6f9b-429e-b0df-1b933d361961.png)

Thank you for the awesome addon for HASS!

[2022-01-17 19:30] LAB02-Admin commented on #23
Yep, nice catch, will fix. Thanks!

[2022-01-17 19:32] LAB02-Admin commented on #22
Thank you for sharing this, you're absolutely right. Will fix

[2022-01-17 22:14] b26x commented on #20
I'm using a german keyboard layout (QWERTZ) aswell as using German as the system language on Windows 10 Version 21H1 (Build 19043.1466). The hotkeys I tried are the following:
- Ctrl + shift + P
- Ctrl + Ö
- Ctrl + alt + Ö
- Ctrl + alt + P
- Ctrl + alt + N

And yes I'm using Windows PowerToys Run, but the option 'Use centralised keyboard hook' is deactivated.
Feel free to ask for any additional in

[2022-01-18 08:13] LAB02-Admin commented on #20
Thanks for the info!

Well, when you have some spare time; could you try closing Powertoys and see if that helps? Maybe restart HASS.Agent afterwards, to make sure all keybindings get re-registered. And if that doesn't work, temporarily disable Powertoys start-on-boot, then reboot and see if it helps. Of course you can reenable Powertoys afterwards.

It seems like their keyboard hook is blocking o

[2022-01-18 10:16] LAB02-Admin commented on #22
Fixed, patched the v2022.1.17 release because of the impact. Thanks again!

[2022-01-18 10:16] #22 closed

[2022-01-18 11:04] Syntoxr commented on #20
I'm too having this same issue. Not using Powertoys but Auto Hotkey (Disabling it didn't help).

- Build 19043.1466
- German QWERTZ Key layout
- Some random combinations I've tested
  - Ctrl + shift + L
  - Ctrl + Shift + T
  - Ctrl + G

However, opening Quick actions via Ctrl + shift + Q works fine like b26x already said.
Happy to provide more info or test some stuff

[2022-01-18 11:10] Syntoxr commented on #22
Great! But you're doing the real work here!

Btw. Do you plan or maybe already have a discord? I think this would be great to quickly help others with simple questions.
(comming from hass-workstation-service, this worked really well)

[2022-01-18 12:51] LAB02-Admin commented on #22
Yea good idea, why not. Just created one:

https://discord.com/channels/932957721622360074/932957771027087381

I'll advertise the link on the github/hass forum pages tonight.

[2022-01-18 12:53] LAB02-Admin commented on #20
Hi @Syntoxr, thanks for taking the time to post :)

Interesting that you're also using a hotkey tool, and also a German keyboard. I'll prepare a German VM tonight to do some tests, but could you please test the following:

Disable AH, make sure it doesn't start on boot. Reboot your PC, and then try the shortcuts again.

[2022-01-18 13:02] Syntoxr commented on #20
Already did that.
- Removed AHK script from Autostart folder
- Rebootet
- Searched with ProcessHacker for running AHK Scripts, services or anything other, but none were running.

[2022-01-18 13:03] LAB02-Admin commented on #20
Very thorough, nice :) Alright, I'll focus testing on the language then

[2022-01-18 13:13] Syntoxr commented on #20
Just had the idea to look at the logs...
This warn gets logged whenever I trigger a hotkey:
[code]
I quickly did some more testing and found out, that all hotkeys work, but only if there are more than one configured.

[2022-01-18 13:22] b26x commented on #20
I can replicate it. Everything is working fine with more than one hotkey configured and Powertoys Run (as well as AH) running in the background.

[2022-01-18 13:48] Syntoxr commented on #22
Cool 👍, but you should publish an invitation link. One can't join unless he is invited.

[2022-01-18 13:59] LAB02-Admin commented on #22
Of course heh: https://discord.gg/nMvqzwrVBU

[2022-01-18 16:18] LAB02-Admin commented on #20
That's some great debugging! And a very nasty bug (wrote `==` instead of `!=`)..

I've published a beta release with a few fixes, including this one. Could you please test it?

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.1.18

[2022-01-18 16:19] LAB02-Admin commented on #23
Fixed in latest beta release: https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.1.18

Thanks!

[2022-01-18 16:19] #23 closed

[2022-01-18 17:55] Syntoxr commented on #20
Just found that too.
Update works like it should now.
Many thanks!

[2022-01-19 07:25] LAB02-Admin commented on #20
Great, you're very welcome :) I'll close this ticket, if it's not resolved for you @b26x, please reopen!

[2022-01-19 07:25] #20 closed

[2022-01-21 02:23] Avishadur opened #25 "Enhancement: prefix switches and sensors with definable device name"
Not a huge thing; but when you define your sensors and commands, the default that it uses just shows up in hass as "switch.shutdown", "sensor.cpuload", et cetera.
Currently I can obviously manually rename them to show up as <PC name>_shutdown; but I still have a bunch of MQTT sensors where it isn't clear which device they're from but I am pretty sure it's a windows machine's network cards.

This s

[2022-01-21 08:30] LAB02-Admin commented on #25
Hi @Avishadur, you're absolutely right, it's a mess currently. I'll be releasing a new version this weekend which addresses this issue.

On one hand, the prefilled name for all sensors will now be `{machinename}_{sensortype}` and `{machinename_{commandtype}` for commands.. Second, all sensors created by the multivalue sensors will now be `{parent_multivaluesensor_name}_{sensor_descriptive_name}`.

[2022-01-21 08:35] LAB02-Admin commented on #25
You can find the sensor's origin by going to HA, press `c`, search for and go to **Devices**. Then look up the name of your PC. In there, you'll see which entities belong to it.

If you want a clean slate before the new version, delete the multivalue sensors from HASS.Agent, store, and then completely close HASS.Agent. Afterwards, delete the machine that was created by HASS.Agent by clicking `DELE

[2022-01-22 08:06] flossiesheep opened #27 "Feature: broadcast to all HASS.Agent clients in a /24 subnet"
Firstly, what a great little app, thankyou - this should be an integral part of Home Assistant...!

My wishlist would be a single command to "Notify all PC's", so don't have to manually repeat everything.
Ideally with a Broadcast sent to the /24 subnet, so then most users don't need to have fixed IP address and edit the configuration.

And then even better, enchanced with a "Notify Everything" com

[2022-01-23 17:41] LAB02-Admin commented on #25
Fixed in v2022.1.23

[2022-01-23 17:41] #25 closed

[2022-01-23 17:45] #15 closed

[2022-01-23 20:17] scrthq opened #26 "Feature: PowerShell Enhancments"
As a user, it would be beneficial to be able to override the executable being called for the PowerShell based sensor, either to use a custom compiled binary or to use a different version of PowerShell altogether like PowerShell 7 (pwsh.exe). For security concerns, the default value should be the full path to the system-installed PowerShell.exe (`C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershel

[2022-01-23 20:40] LAB02-Admin commented on #26
Hi @scrthq, all good points, agreed :)

I like the idea of an executor-agnostic command, for clarity I'll make it a separate one.

Thanks!

[2022-01-25 12:39] ipd-otto opened #28 "Feature: quick action support for covers"
I just noticed that the quick actions do not support covers yet. I am already getting used to this feature for lights, so this would be a nice addition.

[2022-01-25 13:06] LAB02-Admin commented on #28
Will do :)

[2022-01-30 04:22] amplitur opened #29 "Bug: "failed to connect" triggers too fast after waking up"
Shortly after my PCs/laptops are waking up from sleep the HASS.Agent complains once about not being able to connect to the MQTT broker faster than Windows is reconnecting to the network again:

![image](https://user-images.githubusercontent.com/28072694/151686378-d888de80-7faa-40fb-a26c-393c4e9bb413.png)

This always happens when waking up, on multiple different devices.

Perhaps allow for some mo

[2022-01-30 07:02] LAB02-Admin commented on #29
Good call! Will do, I'll add a network-up check as well. Thanks :)

[2022-01-31 11:59] amplitur opened #30 "Enhancement: notify user of manager state when editing sensors/commands"
Release v2022.1.24

The sensor values are not being updated while the Local Sensors/Sensors Config window is open. In this case I was continuously moving my mouse and the update interval for the sensor is five seconds - the value should not have increased above five seconds.

![image](https://user-images.githubusercontent.com/28072694/151788552-3f62662f-0786-4928-9a8f-ac8a2b18ef25.png)

[2022-01-31 21:26] LAB02-Admin commented on #30
Hi @amplitur, that is by design. When you open the sensor config screen, the sensor manager stops processing your sensors, same for commands. When you store them, it syncs your modifications and continues. This is to prevent data corruption.

Is it something you'd want changed?

[2022-02-01 08:41] LAB02-Admin commented on #26
Saw your site, noticed that you're a PS expert: do you have advice on what's the best way to get the system installed PS version?

[2022-02-02 12:00] amplitur commented on #30
If you keep this design, it would be good to notify the user that currently configured sensors are suspended while the user is modifying the configuration and will only resume (with the new configuration) once the user clicks "store and activate sensors" (or clicks on the "x" to close the configuration window without changes to configuration).

Alternatively, the old configuration could stay activ

[2022-02-06 12:15] DeftNerd opened #31 "Feature: Publish as a media_player (device class speaker)"
I find myself using the TTS HASS feature (a nice [one is available if you use the premium cloud service](https://www.nabucasa.com/config/tts/)) to have text, often notifications, turned into audio that's sent to media players.

It would be stellar if the HASS.Agent could publish itself as a media player (in the ["speaker" device class](https://www.home-assistant.io/integrations/media_player/#devic

[2022-02-06 14:48] LAB02-Admin commented on #31
Hi @DeftNerd, thanks for the (extensive) feature request. That does sound like a good idea, I currently use a pi for this purpose but one less device would be better.

Think it can be achieved with HA's websocket api. I'll put it on the list :)

[2022-02-07 11:41] abel2660 opened #32 "Powershell command issue"
Hey,
I am trying to run a python program with home assistant using the power shell command option. I don't know why it does not work. The command I type in is      C:/Users/....../AppData/Local/Programs/Python/Python39/python.exe "c:/Users/....../OneDrive/Documents/Python - Sk/PythonKeyPress/1.py". Do you have any solution for why it doesn't work?

[2022-02-07 12:16] LAB02-Admin commented on #32
Hi @abel2660, the powershell command is to run powershell scripts, so this indeed won't work.

You can try using a CustomCommand. If there are spaces in the python executable path, you'll have to put that in quotes as well.

[2022-02-07 13:31] abel2660 commented on #32
Thanks for your answer, it works now 😀.

[2022-02-07 13:31] #32 closed

[2022-02-13 12:02] LAB02-Admin commented on #30
Fixed in [latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.13), it'll now just keep working until the exact moment you store your sensors/commands.

[2022-02-13 12:02] #30 closed

[2022-02-13 12:03] LAB02-Admin commented on #29
Fixed in [latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.13). You can optionally change the grace period in the config window.

[2022-02-13 12:03] #29 closed

[2022-02-13 12:03] LAB02-Admin commented on #28
Hi @ipd-otto, I've added support in [the latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.13). I don't have any covers, could you please test it?

[2022-02-14 09:56] LAB02-Admin commented on #28
Sorry, that release was incomplete, please use this one:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.14

[2022-02-16 09:22] Growiel commented on #31
Hello,

Just a quick post to say that I think this is the only missing feature and am glad you are taking on the request. I like text notifications but sometimes I'm focused on something else and miss them. Having them play as TTS as well would be neat.

[2022-02-16 14:01] LAB02-Admin commented on #26
Added full path for PS, and CustomExecutor command in [latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.16).

Let me know if there's something I missed.

[2022-02-16 23:08] Growiel opened #33 "Bug: missing culture causes integertextbox crash"
Hello,

Got the following error on step 3 of the onboarding on a new machine:

![image](https://user-images.githubusercontent.com/5228735/154372685-ccb8994e-4577-4779-ab66-d82359e00d4c.png)

Really didn't do anything special.

Thanks !

[2022-02-16 23:10] Growiel commented on #33
A different, but similar, issue happens if I chose exit and then try to open the config from the main page:

![image](https://user-images.githubusercontent.com/5228735/154372935-c636c00b-d239-47a2-a3d4-12870819e93e.png)

[2022-02-17 07:55] LAB02-Admin commented on #33
That is weird! And I can't reproduce it.

Could you try the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.17

If that doesn't work, what language is your OS?

[2022-02-17 08:47] Growiel commented on #33
I'll try the beta at home tonight, but I can already answer the question, my OS is in English (US). I do have other languages (french, japanese and korean) installed.

Also while my language is English US, my region and formats (time, numbers, ...) are all set to France. Weird, I know.
I'm French but mainly use English in my everyday life but I refuse to use their weird mm/dd/yyyy format :D

[2022-02-17 09:31] LAB02-Admin commented on #33
Pretty much the same setup here: EN instead of native, and without the weird date format - 100% agreed on that :p

I reproduced your config in a VM, but was unable to reproduce the bug. However, I made a test version that could help. So if the beta fails, could you please overwrite HASS.Agent.exe with this one:

https://shares.lab02-research.org/tests/33/hass.agent.zip

Thanks :)

[2022-02-17 13:13] Growiel opened #34 "Help wanted: pass data to commands"
Hi,

I'm wondering if it's possible to pass data to commands ?

My goal is to implement TTS using powershell. I would trigger the command from HA and pass the text as data of the command.

But I need a way to get said text in my Powershell script to handle the TTS part.

Is it possible at the moment ? I couldn't find it in the documentation. I know that notifications can accept additional data.

T

[2022-02-17 13:56] LAB02-Admin commented on #34
Hey @Growiel, currently that's not possible. There's a request (#31) that, when implemented, would do what you want.

But besides that, being able to send additional data with commands is on my to-do list. No ETA yet (on both) though!

[2022-02-17 14:06] Growiel commented on #34
I am aware of #31 and am definitely in support of it (like said in it), but this would be a dependency-free way of doing it.

If Google Translate TTS (or any other integration) is down, or I lose my internet, I know that I least i'll get my TTS on my computer just fine, since it's generated locally.

I don't own any smart speaker, all my TTS-ing will be done through my windows computer pluged into

[2022-02-17 14:17] LAB02-Admin commented on #34
Totally understand, that's a very good attitude to have.

I'm very chaotic, so these tickets serve as an extra reminder - I'll keep it open 'till it's done :)

[2022-02-17 20:22] Growiel commented on #33
Tried the new .exe, cannot start HASS.Agent at all anymore, even after rebooting. Should I wait for the new beta ?

[2022-02-17 21:30] LAB02-Admin commented on #33
Could you please install this beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.17

And then copy the [test exe](https://shares.lab02-research.org/tests/33/hass.agent.zip) into the installation directory, overwriting the existing one. Usually the directory is `%appdata%\LAB02 Research\HASS.Agent`.

Delete the `config` folder so you'll get the onboarding again. If it doesn't

[2022-02-17 21:54] Growiel commented on #33
Sadly, it's not better.

And the logs aren't helpful sadly:

[code]

It's a brand new install, I do have installed .net maybe i'm missing something else ?

[2022-02-18 07:36] LAB02-Admin commented on #33
Alright, too bad. Let's enable extended logging. Could you please download this reg key:

https://shares.lab02-research.org/tests/33/hassagent_enable_extended_logging.zip

And doubleclick the .reg key to import. Afterwards, start HASS.Agent again and see if more info shows in the logs.

[2022-02-19 14:15] ipd-otto commented on #28
Just got some time to test: I've added a quick-action toggle for my cover and it's working just fine. If I encounter any issues, I'll get back to you.

[2022-02-19 14:15] #28 closed

[2022-02-21 08:53] LAB02-Admin commented on #33
Longshot, but you could please download this zip, and again place the .exe in your HASS.Agent install folder (overwriting the current one):

https://shares.lab02-research.org/tests/33/hass.agent.zip

Then rename your config folder before launching, so you'll get the onboarding again.

If that doesn't work, and extended logging isn't giving additional info, I'll remove the control that's causing th

[2022-02-22 07:26] Growiel commented on #33
Hi

Sorry i wasn't home for a few days, i'll try it this evening (europe time) and let you know ! I appreciate your efforts in this.

[2022-02-22 19:52] Growiel commented on #33
The new .exe sadly doesn't help. Here are the extended logs though
[[2022-02-22] HASS.Agent_20220222.log](https://github.com/LAB02-Research/HASS.Agent/files/8119752/2022-02-22.HASS.Agent_20220222.log)
!

[2022-02-22 19:56] Growiel commented on #33
I checked the log and using the error message, I went to everyone's favorite website: Stackoverflow.

Here's what I got: https://stackoverflow.com/questions/42554944/how-to-solve-this-exception-culture-is-not-supported

The first answer is the correct one. I had my region set as English (Europe) but my Keyboard set as English (US).

I switch my region back to English US and manually overrode all t

[2022-02-23 10:04] LAB02-Admin commented on #33
Oh wow! Thanks for the extensive info, really helpful :)

I'm able to reproduce it now. It's the `English (Europe)` part that's messing things up, and looks like it's a .NET flaw which I can't circumvent without rebuilding the integer-textbox myself.

That wouldn't be too much of a problem, but I'm moving HASS.Agent to the newer .NET 6 in the coming months. So for now I'll leave it like this, and

[2022-02-23 10:04] #33 closed

[2022-02-28 08:42] Zolli opened #35 "Allow MQTT clientId to be set in config"
Hy,

I use VerneMQ as my mqtt broker and this broker (and alos the MQTT 5 specs as i understand) require every client to have a static and unique cleintId for authentication. As i reviewed the code i found out that the code generates a random Id every connection attemp. Colud you make this possible to configure it in the UI, and if its not set generate a random one?

[2022-02-28 08:46] LAB02-Admin commented on #35
Sure no problem, will do

[2022-02-28 10:47] LAB02-Admin commented on #35
Released a new beta which implements this: https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.2.28

I've also changed the behavior in that it generates a random one, then stores that ID so it'll stay consistent instead of changing every session.

Hopefully it's fixed for you now!

[2022-02-28 10:47] #35 closed

[2022-02-28 11:27] Zolli commented on #35
Nice implementation, tested both ways and it works as expected. Thanks for the quick reaction.

[2022-03-01 16:52] GeertvanHorrik opened #36 "Webcam usage sensor with "windows hello" feature"
I have a Logitech BRIO and it supports Windows Hello. I am using the webcam in use sensor to show whether I am in a meeting or not. However, when I lock my pc, the webcam enables windows hello so it can be unlocked automatically.

However, the sensor then thinks that the webcam is in use. Is there a different way to detect whether the camera is being used?

[2022-03-01 22:09] LAB02-Admin commented on #36
Hi @GeertvanHorrik,

Using a SessionState sensor, you can detect whether your session's locked or not. So you could try making a template sensor, which is only on when the webcam sensor is active and the session state is `unlocked`.

Docs: https://www.home-assistant.io/integrations/template/

If you need more help, let me know :)

[2022-03-06 21:12] bverkron opened #37 ""unable to connect, check uri and config" when using https"
Attempting to setup the Agent for the first time and I get `unable to connect, check uri and config`.
![image](https://user-images.githubusercontent.com/19174503/156941824-c906f200-8bde-474b-abce-c9e1aacdc55c.png)

I have verified the url and long-lived token via this test. Both were copied from their original source and pasted into the HASS.Agent installer so unlikely to be a entry error.
[code]

[2022-03-07 08:22] LAB02-Admin commented on #37
Hey @bverkron,

When you open HASS.Agent, go to Configuration and then click `Home Assistant API` on the left:

![image](https://user-images.githubusercontent.com/81011038/156994010-43134243-7a6c-44b2-bde1-ad2320bcf754.png)

Here you can set your own certificate, and if it's installed in your pc you can try checking `use automatic client certificate selection`.

Let me know if that helps.

[2022-03-09 04:00] bverkron commented on #37
I misspoke a bit in my description, was tired when I wrote the issue. I don't actually have a self signed certificate but rather my cert is for the duckdns url that I was using before switching to Nabu Casa. IIRC connecting via https but using the IP on the LAN will throw this kind of error for any https cert you have because they're for internet domains / urls and not local IPs.

I rectified the

[2022-03-09 04:00] #37 closed

[2022-03-09 05:27] bverkron opened #38 "Bug: LoggedUserSensor sensor shows wrong value if logged in as another user"
If HASS.Agent is installed under user account A which is signed-in in the background but user B is currently logged in and has an active desktop session the LoggedUserSensor reports the name of user A, not user B.

Based on that behaviour I believe that LoggedUserSensor would only ever show the name of the user HASS.Agent is installed under.

I assume this is a side effect of HASS.Agent currently

[2022-03-09 08:40] LAB02-Admin commented on #38
You're right, that can be fixed with the satellite service. Thanks for posting this though, otherwise I hadn't known :)

[2022-03-09 09:32] fusionstream opened #39 "Feature: define notifier without an IP address"

[2022-03-09 09:54] LAB02-Admin commented on #37
Yep, you need to use the duckdns url and open a port in your WAN firewall, so not ideal. You don't need to provide a cert for duckdns though (as you can tell in my screenshot, I use duckdns for my testing environment).

But using the Nabu Casa url is safer :)

[2022-03-12 21:03] bverkron commented on #38
Related but slightly different issue with this sensor is that the value of the sensor remains set to the username even when the PC is locked. It's debatable whether this should be the case or not because technically the user is still "logged in" but the intent of this sensor IMO is to show which user has an active desktop session (i.e. is logged into the desktop session and is actively using the P

[2022-03-13 08:14] LAB02-Admin commented on #38
Hey @bverkron,

I've been thinking about this as well, and this is what I've come up with so far:

I'm going to make the `LoggedUsersSensor` more strict: only users with an active session will be listed. Locked means not active, so not listed.

The `LoggedUserSensor` will be based on the same code, but will always just show one user: if more are logged, it'll take the first.

It's up to the user t

[2022-03-15 15:06] Chreece commented on #34
Passing something to command through Home Assistant would also be very useful in other implemantantions.
i.e. I want to change the volume in Laptop automatically and that should follow a sensor in Home Assistant.
Now I can increase or decrease the volume and not set the volume to a % value.
I'm currently doing this with IOPC and NirCMD

[2022-03-19 21:25] Chreece opened #40 "Feature: Quick Actions based on domain and get variables send from HA"
Hello Sam,

I hope you are doing well. Thank you very much for your time spending on this wonderful project.
Was wondering if is possible to have a dynamically change action menu in quick actions, based on the domain of the entity so to have any possible action taken (i.e. volume_up if media_player domain is choosed).

Also as I mentioned in https://github.com/LAB02-Research/HASS.Agent/issues/34#i

[2022-03-20 09:14] LAB02-Admin commented on #40
Hey @Chreece,

You're welcome! I'm glad you like it :)

Do you mean the 'action' dropdown menu when you create a new quickaction:

![image](https://user-images.githubusercontent.com/81011038/159155694-7eb0b3a2-070e-44be-8107-65be053f5171.png)

That it should only show the actions based on the domain you've selected? Or do you mean in the quickaction form itself?

I'm currently in the last phase of

[2022-03-20 09:47] Chreece commented on #40
Yes exactly this dropdown menu I mean.
My view on that is that it should give different options, based on the domain selected from the previous drop down menu. Now we are limited on the quick actions based on the options from this menu.

Really nice to see how this useful application develops!
Keep up the good work Sam!

[2022-03-20 11:07] LAB02-Admin commented on #40
Alright, will do!

[2022-03-20 17:02] cromelex opened #41 "Feature: sync sensor state with HA api's current value"
When I wake up my laptop from Sleep, the SessionState sensor goes from Unavailable to Locked, but doesn't seem to then update to Unlocked.

I can manually force it to update by locking the screen and unlocking again.

As it is mentioned in the credits for this project,I will go and mention that the exact same issue happens for the HassWorkstation Service app ( https://github.com/sleevezipper/hass-

[2022-03-20 17:23] LAB02-Admin commented on #41
Hi @cromelex,

Thanks for reporting this. HASS.Agent uses different code for retrieving the session state than hass-workstation-service. The issue you linked regards the session changing id, and that doesn't seem to be the case here.

I'll look into it!

[2022-03-20 17:32] cromelex commented on #41
Noted. I will try to replicate the issue again with screenshots to better document what is happening and reply back.

[2022-03-20 18:56] cromelex commented on #41
Okay, some feedback.

As my laptop is docked (via USB-C for display and wired network), it looks like it is taking 30-60s for the network connection to be fully established, not sure if this is impacting the timing of the sensor update:
I have my SessionState sensor set to update every 10s which was the default.

1. Computer is put to sleep/lid closed -> status changes to Unavailable, as expected

[2022-03-20 20:13] LAB02-Admin commented on #41
That really helps a lot, and actually gave me an idea to make all sensors more reliable. I'll write it out here so I won't forget:

Currently sensors only send their value, when the value has changed compared to last round. This takes away some pressure from the mqtt broker. However, in this case, hass.agent thinks it sent the value while in fact HA hasn't received it.

I have implemented a featur

[2022-03-25 15:22] LAB02-Admin commented on #18
Added in today's beta; https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.3.25

Would be great if you could test :)

[2022-03-30 03:09] andystewart999 opened #42 "Bug: notification images aren't downloaded in case of certificate mismatch"
Hi - for my particular deployment I use https with DuckDNS.  For some reason my company has put DuckDNS on a blocklist so any URL with DuckDNS in it is being blocked so I planned to use the local IP address instead.

Of course that means that the full URL doesn't match the certificate path so I assume that's why the actual picture isn't showing up for notifications (as it works perfectly well if I

[2022-03-30 09:17] andystewart999 commented on #42
Thanks very much!

[2022-03-30 20:56] LeandroIssa opened #43 "Translation: Brazilian Portuguese."
Hello, I would like to translate HASS.Agent into Brazilian Portuguese, do you have any projects in lokalise or in POEditor?
If you have a project, what is the link to it? Thanks.

[2022-03-31 06:37] LAB02-Admin commented on #43
That's really kind of you @LeandroIssa! I'll post back here when I have it ready :)

[2022-03-31 10:03] LAB02-Admin commented on #42
Hey @andystewart999, I was busy adding the `ignore certificate errors for images` function in HASS.Agent (actually completed it), but afterwards I found out that's not the issue 😅

It's because when you're using duckdns, you can't access HA locally anymore. I've fixed it by using the **NGINX Home Assistant SSL proxy** addon.

There were a few caveats I had to fix, I'll write them here so you won't

[2022-03-31 15:14] #42 closed

[2022-04-01 07:00] LAB02-Admin commented on #14
Hey @franzbischoff, this appears to not be very easy, especially catching the pressed keys globally. So say you'd have ScrollLock + 1 to enable a light, the '1' would still get passed to whatever program you're using.

I'm closing this for now, if I ever come acros a method to reliably do this I'll reopen, as it'd be a nice feature to have :)

[2022-04-01 08:52] cromelex commented on #41
Can i just double check that you made something to fix this on the latest release?
Just checked my Home Assistant logs and it looks like the issue hasn't happened in 3 days, which I think matches when I did the update to the latest release.
Thanks

[2022-04-01 09:43] LAB02-Admin commented on #41
Hey @cromelex, you're on the stable release channel, so v2022.3.27?

A lot changed there yea, almost the entire code base - but I didn't fix this bug on purpose. So if it's fixed, that's a happy coincidence :p

[2022-04-01 10:04] LAB02-Admin commented on #43
Hey @LeandroIssa, I have POEditor set up. You can start translating here:

https://poeditor.com/join/project/R7HIVG0wie

Good luck, and thanks! Let me know if I can be of any assistance :)

[2022-04-01 10:05] cromelex commented on #41
Yes, I can confirm I'm on stable release, v2022.3.27.

Running the sensor as local (not using the sattelite service for now, as only 1 user on my laptop).
I had a closer look at the logs and it really seems to be fixed, even if it was a happy coincidence.

As far as I am concerned you can close this bug as resolved (even if by coincidence).

Thanks

[2022-04-01 10:07] LAB02-Admin commented on #41
Great, thanks for being so observant!

I've changed to title to remind me of the sync-sensor-state idea, which I'll still implement to be 100% sure of correctly reported sensorstates.

[2022-04-01 11:57] andystewart999 commented on #42
OK, I'll give that a whirl.  Thanks for the research and effort :-)

[2022-04-01 19:02] LeandroIssa commented on #43
Thank you very much! HASS.Agent in Brazilian Portuguese will encourage many Brazilians who do not understand English to use the program! Thank you so!

[2022-04-01 19:26] Chreece commented on #40
The variables are available and working like charm!
You are great!!!

[2022-04-01 19:49] LAB02-Admin commented on #40
Thank you 😊

[2022-04-01 19:49] #40 closed

[2022-04-01 20:17] LAB02-Admin commented on #40
By the way; there isn't an official way to get all the different states from HA, so I added them manually.

Let me know if there are states missing, and I'll add them

[2022-04-02 01:00] LeandroIssa commented on #43
@LAB02-Admin Translation of HASS.Agent into Brazilian Portuguese is complete!

![Captura de tela 2022-04-01 215853](https://user-images.githubusercontent.com/67451572/161357982-838ce051-ddaf-4ac7-9945-32a693fcd552.png)

[2022-04-02 07:37] LAB02-Admin commented on #43
Wow, already! I'm impressed. And it's such a beautiful language, I'm really happy with this :)

I'll go make a beta with the new translatation, so you can see how it looks.

I was thinking, maybe I could put a link on top of the github readme so Brazilian readers can easily find the download. I've used Google Translate, can you please tell me if it's ok:

The installer now also has Brazilian Portu

[2022-04-02 08:17] franzbischoff commented on #14
Don't worry! Thanks for the effort!

Just a mention (I don't want to open an issue for this):
- I got to make HASS.Agent work on Linux using wine (kind of working, because it crashes if I try to open some windows like the "configuration". But setting all from the .json file, it works)

[2022-04-02 08:37] LAB02-Admin commented on #14
Oh wow that is great news, thanks for letting me know! I'll set up a staging linux environment and see if I can fix what's stopping the windows from opening.

Have you configured sensors, commands, notifications?

[2022-04-02 08:40] franzbischoff commented on #14
It was just a "try to make it work", so I only tested the `LastSystemStateChange` sensor :-)

I'll try more later :)

[2022-04-02 09:29] LAB02-Admin commented on #14
Thank you @franzbischoff! I have a feeling you're very knowledgable, but just an fyi: you can make a few commands/sensors on a Windows machine, then modify the names in the .json files. Make sure you give the GUID's a slightly different value, changing one digit/letter is already enough.

And only if you're bored and want to play with it :) Otherwise I'll take a look when I have time. Fun project

[2022-04-02 09:40] franzbischoff commented on #14
@LAB02-Admin sure, I'll try next week :-D

If you want to, you can reach me by email (gmail), username franzbischoff. So we can exchange some ideas :-)

Best regards.

[2022-04-02 09:43] LAB02-Admin commented on #14
Perfect! I'll mail you as soon as I have the Linux staging environment up.

Thank you and have a good weekend

[2022-04-02 13:20] LeandroIssa commented on #43
Thank you very much! <3

I'm really excited about the beta version!

Perfect, the translation was great!

Yes, usually people have the automatic translation option enabled!
About README, just having written that you have the translation of HASS.Agent into Brazilian Portuguese will help a lot!

A ReadMe sentence like: "HASS.Agent is now in Brazilian Portuguese for Brazilians and Portuguese-speaking

[2022-04-02 15:57] LAB02-Admin commented on #43
Hey @LeandroIssa,

Been busy tweaking the interface to make everything fit nicely, it's looking great 😄

That is perfect!

There are a few strings that I'd forgotten or that are new (I added options to change the interface language, including when starting onboarding). Could you please translate them?

![image](https://user-images.githubusercontent.com/81011038/161391051-51b7ed7e-1ca4-4f73-8c77-46

[2022-04-02 16:02] LAB02-Admin commented on #43
By the way, nothing relevant, but I noticed this word in your translations and I love it: `desenvolvedores`. Sounds so cool! Using that from now on 😆

[2022-04-02 16:16] LeandroIssa commented on #43
Done! All 100% again! Whatever you need, I'm always available to translate!

![Captura de tela 2022-04-02 131231](https://user-images.githubusercontent.com/67451572/161391674-3cc6b0c5-c319-4b38-bcdc-fefe70b77858.png)

[2022-04-02 16:19] LeandroIssa commented on #43
This word means developers, you can call yourself a "desenvolvedor"! =)

[2022-04-02 17:44] LAB02-Admin commented on #43
The beta is ready:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.4.2

There are a few things that aren't translated yet; the command/sensor type-names, since they're internally coupled, but I'll have that straightened out before the final release. I also just noticed when testing that not everything of the installer's translated, so we'll have to do that as well. But for now you

[2022-04-02 21:39] LeandroIssa commented on #43
I'm also very happy with the pre-release of the translation!

About the interface, it's OK, just one detail that needs to be fixed, the text in Configuration, Home Assistant API was behind the text box.

![Captura de tela 2022-04-02 183020](https://user-images.githubusercontent.com/67451572/161402036-f59f4a8e-1a99-484e-9b6e-ce3da788ee90.png)

About the translation, I fixed some details that I left

[2022-04-03 08:48] LAB02-Admin commented on #43
Good catch! Fixed.

I made a different project for the missing strings of the installer:

https://poeditor.com/join/project/RMX0icxOSd

I'll let you know when I've updated HASS.Agent with the missing type names, that will probably be somewhere next week.

Thank you for the fun teamwork :)

[2022-04-03 12:55] LeandroIssa commented on #43
Oh yes, thank you!

Done!

![Captura de tela 2022-04-03 095230](https://user-images.githubusercontent.com/67451572/161429089-4f059984-d1c1-4572-8706-979a2545cff8.png)

Whatever you need, I'm always available! Thank you for your patience and attention! =)

[2022-04-03 13:30] LAB02-Admin commented on #43
The installer apparantly has a hard limit on 260 characters 😕

Could you please trim this line (it's only 8 characters too long):

[2022-04-03 13:41] LAB02-Admin commented on #43
And could you please translate this one as well please (I'm changing the installer landing-page text to be a little bit friendlier):

Thanks!

[2022-04-03 13:49] LeandroIssa commented on #43
Alguns dos pré-requisitos necessários para executar o [ProductName] estão ausentes. Este assistente o ajudará a obter e instalar esses pré-requisitos. Clique em "[Text_Next]" para continuar ou "[ButtonText_Cancel]" para sair do [Wizard].

Done! =)

O HASS.Agent foi lançado sob a licença MIT, que é uma licença muito curta, simples e tolerante. Você deve concordar com os termos e condições das licen

[2022-04-03 15:27] LAB02-Admin commented on #43
I've re-released b2022.4.3 containing your translation tweaks, the fix for config panel and the installer translations:

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.4.2/HASS.Agent.Installer.exe

You don't have to uninstall first, you can just run this one. Let me know if you find any flaws :)

[2022-04-03 17:06] LeandroIssa commented on #43
Perfect! I didn't find any flaws, everything 100%! I'm very happy! <3
Thank you very much for the care and attention given to the Brazilian Home Assistant community.

[2022-04-03 17:39] LAB02-Admin commented on #43
Yay :)

De nada!

[2022-04-03 22:23] dimmuboy opened #44 "Feature: output additional AudioSensors info"
When I add Audio sensor my output is always "High Definition Audio Device" but when I try to get my default audio device via powershell cmdlet https://github.com/frgnca/AudioDeviceCmdlets I get additional info f.e.
Name    : Headphones (High Definition Audio Device)

[2022-04-04 06:58] LAB02-Admin commented on #44
Interesting! I'll have a look, thank you :)

[2022-04-06 07:24] LAB02-Admin commented on #43
Hey @LeandroIssa, I've added all values for the lists (sensor names, entity types, etc) as well. It'll take me at least a week to get everything converted in the sourcecode to properly use the translations, so take your time!

If you ever need some context for an item, for instance an example of how/when it's used, let me know.

[2022-04-06 14:26] LeandroIssa commented on #43
![Captura de tela 2022-04-06 112153](https://user-images.githubusercontent.com/67451572/161997057-89237a30-1d08-4eb2-a5d8-a9752e4887ad.png)

Hi!
Thanks for the feedback! I've translated everything!
I was able to understand from the context below in the text. Thank you for your effort and patience, I'm always available! <3

[2022-04-06 15:08] LAB02-Admin commented on #43
Lightning fast as always, thanks :D

[2022-04-07 08:25] LAB02-Admin commented on #43
Hi @LeandroIssa,

Hope you're ok over there on the other side of the ocean! Just checking up on something - I noticed that some types have the same name translated:

![image](https://user-images.githubusercontent.com/81011038/162154743-6ac82dc8-00c6-4868-b881-42345ada6d14.png)

![image](https://user-images.githubusercontent.com/81011038/162154755-76b6d726-66ef-456b-9c1f-b052ff1d98f4.png)

If that'

[2022-04-07 09:25] LAB02-Admin commented on #43
Also added a few new ones - sorry this is going so messy! It's my first time implementing localization, so I'm learning on the go :)

![image](https://user-images.githubusercontent.com/81011038/162167333-bbeca47d-911f-4d3c-b262-b7fb0eee7d2e.png)

[2022-04-07 14:58] LeandroIssa commented on #43
Done too! You can count on what you need! =)

[2022-04-07 18:20] LAB02-Admin commented on #43
The translations are only in the interface, code-wise everything stays the same 😄

Thanks as always!

[2022-04-14 06:41] freakshock88 opened #45 "Bug: LastActive sensor not working anymore"
Hi,

I'm having issues with the last active sensor.
In my HA I see it was stuck to a date from 2 weeks ago.
When I modify the name, or delete and readd it, the state in HA stays 'unknown'.
I'm on the latest agent version 2022.3.27.0.

I'm seeing this error in the logs:
`2022-04-14 08:44:36.515 +02:00 [FTL] [SENSOR] [hass_agent_laptop_lastactive] Error publishing state: Value was either too large o

[2022-04-14 07:30] LAB02-Admin commented on #45
Hey @freakshock88,

That is weird! And I can't seem to reproduce it, so I built a small test tool with the exact same code as the sensor, to see if we can get some more detailed error reports:

https://shares.lab02-research.org/tests/45/lastactivetest.zip

Could you please run the .exe and let me know the outcome? Thanks :)

[2022-04-14 09:01] LAB02-Admin commented on #43
Hi @LeandroIssa - there are a few new items to translate! This is the final list before the next release, there'll just be bugfixes from now on :)

[2022-04-14 10:52] freakshock88 commented on #45
Thanks for that.  The output seems okay:
`
Last active: 2022-04-14 10:52:08Z

Done, press any key to close ..
`

[2022-04-14 11:22] LAB02-Admin commented on #45
Does the problem persist when you restart hassagent?

[2022-04-14 12:25] freakshock88 commented on #45
I tried restarting a few times as well, both with the current and new sensors, does not help unfortunately.

[2022-04-14 12:36] LAB02-Admin commented on #45
Alright. Could you please enable extended logging (through config -> logging), restart hassagent and run it again, then post the logs here. Thanks

[2022-04-14 12:50] freakshock88 commented on #45
Not much more than we already knew:

`2022-04-14 14:44:41.940 +02:00 [INF] [SETTINGS] Configuration loaded
2022-04-14 14:44:41.968 +02:00 [INF] [SETTINGS_QUICKACTIONS] Loaded 1 entities
2022-04-14 14:44:42.001 +02:00 [INF] [SETTINGS_COMMANDS] Loaded 1 entities
2022-04-14 14:44:42.030 +02:00 [INF] [SETTINGS_SENSORS] Loaded 1 entities
2022-04-14 14:44:42.038 +02:00 [INF] [NOTIFIER] Disabled, skippin

[2022-04-14 12:55] LAB02-Admin commented on #45
This line is actually interesting:

[code]

And I think I know the problem - even though it's very weird, like I said the console app uses the same code.

I'm releasing a new version of hassagent coming weekend, I'll add the fix. Until then you might want to remove the sensor (and disable extended logging) to prevent excessive log growth :x

[2022-04-15 11:44] Aidan-Chey opened #46 "Bug: Satellite service stops/crashes after an amount of time"
I've just today switched from IoTLink to HASS Agent to give it a go. I'm having issues getting the Satellite service to remain running as it seems to randomly stop.

I want to use the service to read CPU & GPU load & system state change to HA and to suspend the PC and start an application on command.

I've tried various methods of starting the service, from using the agent interface, the services

[2022-04-15 12:00] LAB02-Admin commented on #46
Hey @Aidan-Chey,

Thanks for the extensive bug report! You're right on all parts; llog errors can be ignored, that's just the logger saying it had to start a new logfile, and the service indeed tries to restart 2 times.

I've added the sensors you mentioned and attached a debugger to the service to see if I can reproduce the bug locally (I'm also running W11), otherwise I'll let you know how we ca

[2022-04-15 13:16] LAB02-Admin commented on #46
Ok no crash yet, so lets move on. A few points:

- Launching an application needs to be done through HASS.Agent, not the service (since it's user based)
- Apparently, the LastSystemStateChange sensor doesn't work under the service
  - It remains on the 'hassagent started' state
  - You can add it under HASS.Agent instead of the service for now, I'll add it to my todo list
- I noticed you added 2 c

[2022-04-15 15:53] LAB02-Admin commented on #46
I've released a new beta, don't think anything relevant changed but you could try it, who knows:

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.0/HASS.Agent.Installer.exe

[2022-04-15 15:53] LAB02-Admin commented on #43
It's ready, let me know if anything's missing!

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.0/HASS.Agent.Installer.exe

[2022-04-15 17:53] nrsfhass opened #47 "Bug: QuickActions not working in 2022.11.0-beta1"
2022-04-15 14:52:12.639 -03:00 [INF] [MQTT] Connecting ..
2022-04-15 14:52:12.714 -03:00 [INF] [MQTT] Connected
2022-04-15 14:52:12.827 -03:00 [INF] [HASS_API] Home Assistant version: 2022.4.4
2022-04-15 14:52:13.051 -03:00 [INF] [NOTIFIER] API listening on port 5115
2022-04-15 14:52:13.759 -03:00 [INF] [HASS_API] System connected with https://xxxxxx.duckdns.org:8123/
2022-04-15 14:52:14.651 -03:0

[2022-04-15 18:31] LAB02-Admin commented on #47
Yep bug in the latest beta, will fix!

[2022-04-15 19:21] LAB02-Admin commented on #47
Fixed in the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.11.1

[2022-04-15 19:21] #47 closed

[2022-04-15 22:49] nrsfhass commented on #47
Thanks

[2022-04-16 02:05] Aidan-Chey commented on #46
Hey, thanks for spending time looking into this 😄.

Yes the service does all that I expect while it's running, sending sensor data to HA and executing the commands. I find it doesn't stay running any longer than half an hour or less.

That makes sense actually regarding using the command to launch an application.

My typical use case is that the agent would be used to receive sleep/standby command

[2022-04-16 07:31] LAB02-Admin commented on #46
Hey @Aidan-Chey,

I'm glad you managed to make it work as-is! Of course I'd also like for HASS.Agent to work for you however you use it - you can use the service to launch scheduled tasks, and it's nice having the sensors work regardless of having to log in first. But yea that was part of what I was figuring out with the questions, very astute ;p

Since I'm gone for the weekend, it's good to know

[2022-04-16 10:40] Aidan-Chey commented on #46
Yeah, you have a good 1 too.

Unfortunately I'm still having the crashing issue, although it does seem to be happening less often...

I did see some warnings in the service log
[code]
I think they are from when I was removing sensors & commands because the number of loaded sensor & command entities is reducing around when these appeared.

I'll try uninstalling the agent and installing the beta ver

[2022-04-16 14:33] LeandroIssa commented on #43
I'm passing by to let you know that I fixed some translations that were wrong. <3

[2022-04-17 00:26] Aidan-Chey opened #48 "Bug: 'execute port reservation' doesn't run under expected elevation"
Attempts to create firewall rule for notifications fails during install and normal application launch. Only way to get successful reservation is to start agent as administrator.
[code]
Take note, this is after an uninstall and install of the beta version, so I suspect that's why the logs state "port reservation already exists".

Anyway, I read on another issue you prefer to keep the agent in non-e

[2022-04-17 18:15] RichardUUU opened #49 "UI Request"
Minor request: I see the "close without saving" button at the bottom of the configuration window. So where is the save button? I'm guessing it's "store configuration" If so, my request is to change that to "save configuration"

[2022-04-18 08:12] LAB02-Admin commented on #49
It is, will do

[2022-04-18 08:16] LAB02-Admin commented on #48
Hey @Aidan-Chey,

Normally you can use this button to add the firewall rule and and perform the port reservation, but I see its elevation isn't working as expected. I'll fix it though. It launches hassagent elevated for specific tasks.

![image](https://user-images.githubusercontent.com/81011038/163778915-9bcdbe25-e555-4aef-8168-90648e40cc97.png)

[2022-04-18 09:32] LAB02-Admin commented on #46
Thanks, interesting! Will start tinkering when I get back and let you know :)

[2022-04-19 08:11] LAB02-Admin commented on #48
Fixed in the re-released latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/b2022.11.1

[2022-04-19 08:11] #48 closed

[2022-04-19 08:14] LAB02-Admin commented on #46
I've had a look at the errors, and it's still a bit fuzzy as to why the occur after a while instead of instantly (or not at all).

Read some reports that these can happen with certain build configurations, so I changed them and redeployed the beta. You can simple run the installer again, no need to uninstall first:

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.1/HASS.Age

[2022-04-19 08:15] LAB02-Admin commented on #43
I've redeployed the beta with the latest translations if you're bored and want to have a look:

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.1/HASS.Agent.Installer.exe

You can simply run the installer again :)

[2022-04-19 13:39] Brtrnd opened #50 "feature request: location"
what would be the possibilities to add the location of the laptop?
https://docs.microsoft.com/en-us/windows/uwp/maps-and-location/get-location

[2022-04-19 13:45] LAB02-Admin commented on #50
Hey @Brtrnd,

I actually just added that in the latest beta!

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.1/HASS.Agent.Installer.exe

You can just run it, no need to uninstall the current version.

It's the GeoLocation sensor :)

[2022-04-19 13:45] #50 closed

[2022-04-19 14:03] LAB02-Admin commented on #45
The (potential) fix has been released in the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.1/HASS.Agent.Installer.exe

Could you please see if it's indeed resolved? You can just run the installer, no need to uninstall the current version.

[2022-04-19 14:53] freakshock88 commented on #45
Thanks for that! The beta has resolved the issue :)

[2022-04-19 14:53] #45 closed

[2022-04-20 07:44] Aidan-Chey commented on #46
I let this recent beta release run the satellite for a bit and it also crashed.

I noticed that the service's commands for sleep & run command were still present after having removed several times already. I also noticed they seemed to reappear even after a service reinstall. So I dug into the config for the service and found the commands JSON and edited it (in admin) to be an empty array. The com

[2022-04-20 15:01] LAB02-Admin commented on #46
Hey @Aidan-Chey,

For starters I'm loving the detailed bug reports :) To be honest, I haven't given the satellite service any attention since its release - because developing it and its interface for hass.agent took so much time and energy, I was pretty much done with it by then 😁 But it's a good thing that you're putting the focus back on it.

I've released a new beta with a bunch of fixes derive

[2022-04-20 20:23] Aidan-Chey commented on #46
That's great, I'll give it a go tonight.

I find it odd you point out the extended logging checkbox for the agent
because it has always been visible and I had enabled it. Perhaps it just
wasn't doing anything and this release enables it.

On Thu., 21 Apr. 2022, 03:01 LAB02 Administrator, ***@***.***>
wrote:

[2022-04-20 20:40] LAB02-Admin commented on #46
You're right; the difference is that now the service follows that setting as well - previously it only applied to hass.agent itself.

[2022-04-20 23:12] VNRARA opened #51 "Bug: sensors stop working if HA is restarted and HASS.agent isn't"
A restart of HA will NOT automatically reconnect the sensors after a reboot. Only a reboot of HASS.Agent will fix this.

[logs.zip](https://github.com/LAB02-Research/HASS.Agent/files/8525969/logs.zip)

[2022-04-21 09:41] LAB02-Admin commented on #51
Hi @VNRARA,

Thank you for your bug report, and attaching the logs (love it when that gets done without asking).

I've been trying to reproduce your issue, as there are systems in place that should prevent this - and there are mentions in your logs that HASS.Agent did reconnect after a failure.

For starters, I had to update my staging system, so that meant it went offline for a bit. HASS.Agent fe

[2022-04-21 09:53] Aidan-Chey commented on #46
Gave it a go, can't say I've noticed any significate increase in the log level. Perhaps because it's in production mode?

I like the name changes of the log files. seems like they are renamed to indicate what stopped the log to that file (restart, update, service_start).

I ended up using the installer to remove the app and deleting the files for the agent & service to do a fresh install; hoping t

[2022-04-21 10:20] LAB02-Admin commented on #46
It's not picking up the setting when running as a service, I'll fix that. For now, could you please stop the service, then run `HASS.Agent.Satellite.Service.exe` manually (elevated, so right click -> `run as administrator`).

I'm assuming it crashed by the way after `2022-04-21 20:53:32.475 +12:00` ?

[2022-04-21 10:44] VNRARA opened #52 "Feature: toggle to filter privacy-sensitive info from logs"
Hey just a sidenote:

2022-04-21 01:28:28.731 +02:00 [INF] [HASS_API] System connected with [domain]

The logs show external domains. Is it possible to hide that with a switch?
People will most likely be posting lots of logs and this could be a security issue if forgotten to remove by the user.

[2022-04-21 10:48] LAB02-Admin commented on #52
Very good point, will do, thanks!

[hassagent-48](https://lab02research.youtrack.cloud/issue/hassagent-48)

[2022-04-21 10:53] VNRARA commented on #51
Thanks for getting back to me so quick: I was able to reproduce and screengrab and some more logs:

I reboot HA:

![image](https://user-images.githubusercontent.com/3942672/164442678-50798d94-0d30-4661-91cd-61783aca101e.png)

It starts loading everything back up:

![image](https://user-images.githubusercontent.com/3942672/164442763-ebbcfd09-55dc-41ab-b078-b80318644282.png)

Once started my custom

[2022-04-21 11:02] LAB02-Admin commented on #51
Thanks, very helpful!

The issue here is that HASS.Agent thinks as follows: _the sensor's value hasn't changed, so I don't need to send it again_. There is a mechanism that resends all values after a reconnection, but that doesn't always work because the timing needs to be precise.

I'm working on an alternative system, that uses the HA API to constantly check whether HASS.Agent's last known senso

[2022-04-21 17:51] mdrichardson opened #53 "Bug: MQTT discovery doesn't work if device name has an apostrophe"
Might want to add a note about this or maybe do some validation for the device name, but I had set mine to `Michael's Desktop` and saw that the discovery message was published as: `homeassistant/binary_sensor/Michael's Desktop/michael_s_desktop_webcamactive/config`, but couldn't find the entities or devices being added to general HA or to the MQTT Integration. I changed my device name to `MichaelD

[2022-04-21 17:59] mdrichardson opened #54 "Feature: Ability to clear notifications"
Use case: I'd like to leave a persistent notification, but have it cleared as soon as a HA state changes.

I think there's a couple of ways this could be accomplished:

1. Similar to HA mobile notifications: notifications can have a `data.tag` attribute and then they get cleared if another notification is received with `message: 'clear_notification` and a `data.tag` that matches the one in the fir

[2022-04-21 19:00] LAB02-Admin commented on #54
Good idea :) I like the attribute to 'overwrite' previous notifications, that'd be useful for my usecases as well. I'll also add a 'clear all notifications' command.

I'll put it on the list

[2022-04-22 02:21] mdrichardson opened #55 "Bug: Port reservation failure copies bad command"
When setting up and port reservation fails, it mentions that a command is copied to the clipboard. The command that gets copied starts with `http add...` when it should start with `netsh http add...`

[2022-04-22 07:35] LAB02-Admin commented on #55
Hey @mdrichardson,

Loving all the bug/feature reports, thanks for taking the time 😄

This is actually a known bug, and it's fixed in the [latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/download/b2022.11.2/HASS.Agent.Installer.exe) (or the new version I'm releasing this weekend).

However, good catch (once again) that it doesn't copy the full command to the clipboard - I'll fix

[2022-04-22 09:10] LAB02-Admin commented on #43
Spoke a bit too soon 😬  Two more translations; one obscure one that I'd forgotten, and an extra info text when opening the satellite service config screen, explaining what exactly the service can be used for.

When these are done, I'm releasing the final version :)

[2022-04-22 10:47] Aidan-Chey commented on #46
Yeah, that was the last log before it crashed, I can't confirm if that was the time as I had left it running.

I started the service as admin and it runs in a terminal window. I saw it crash the first time, it output a pretty big error that I only saw a glimpse of before the terminal closed itself. Something about a runtime access violation... not sure. It doesn't look like that final output was w

[2022-04-22 10:51] LAB02-Admin commented on #46
That sounds interesting! Could you please open an elevated terminal window (one way of doing that is to search for cmd in start, then right-click `cmd.exe` and select `Run as administrator`), then navigate to the service's root folder (`cd "C:\Program Files (x86)\LAB02 Research\HASS.Agent Satellite Service"`) and then enter `HASS.Agent.Satellite.Service.exe`. That way, when it crashes, you'll have

[2022-04-22 16:38] mdrichardson commented on #55
No problem! Thanks for the great software!

[2022-04-22 16:47] LeandroIssa commented on #43
All ready now! 100% translated! <3

[2022-04-22 17:27] #43 closed

[2022-04-23 00:19] Aidan-Chey commented on #46
We'll it seemed to run all night without crashing that time, even recovered from sleep (was showing weirdly low loads though (less that 1%).

So I cancelled it and started again through the terminal and it practically immediately crashed with this log.
[code]
Eh?! that error, I bloody well hope that doesn't mean some of my memory is buggered. PC is practically new, a little over a year old.

[2022-04-23 08:30] LAB02-Admin commented on #46
For starters, this is great, a breakthrough! We could be on CSI or something..

No panic though, it doesn't have to mean there's something wrong with your PC's mem - probably just that the library I'm using (LibreHardwareMonitor) isn't playing by the rules (or so it seems).

I'm going to take a close look at that part of the code and get back to you.

PS If you want to be sure about your mem, you

[2022-04-23 10:11] LAB02-Admin commented on #55
Fixed in [2022.11.3](https://github.com/LAB02-Research/HASS.Agent/releases/tag/v2022.11.3)

[2022-04-23 10:11] #55 closed

[2022-04-23 10:12] LAB02-Admin commented on #51
Closing this for now, but feel free to reopen if it doesn't work for you!

You can follow the new system I mentioned in ticket [#41]

[2022-04-23 10:12] #51 closed

[2022-04-23 10:43] LAB02-Admin opened #56 "Bug: changing an existing command's entity type results in two entities in HA (and neither work 'til HASS.Agent restarts)"
Posting this here incase someone comes across it as well, working on it: [[hassagent-56](https://lab02research.youtrack.cloud/issue/hassagent-56)]

[2022-04-23 12:59] LAB02-Admin commented on #56
Fixed in [2022.11.4](https://github.com/LAB02-Research/HASS.Agent/releases/tag/v2022.11.4)

[2022-04-23 12:59] #56 closed

[2022-04-23 16:13] LAB02-Admin commented on #46
Update: I'm now 99.99% sure it isn't your hardware. Looks like LibreHardwareMonitor has been having these problems over the past year, I found multiple related issues on their github account.

The most probable cause is your videocard model - since it's so new, and LHM doesn't get updates that often, it's probably not 100% supported. Even though that's not something I can fix, it's bound to happen

[2022-04-23 18:41] ikrowni opened #57 "Feature: CPU temperature sensor"
The availability of sensors in the project is great but I'm missing the CPU temp sensor. Anyway we could get this in the future?

[2022-04-23 19:20] LAB02-Admin commented on #57
Hey @ikrowni,

Absolutely, they're on my shortlist. Those type of hardware sensors require elevated privileges, so they're only possible since the satellite service was introduced last month.

I'll add them to the next release!

[2022-04-23 23:08] ikrowni commented on #57
Awesome this has already allowed me to drop 3 add-ons with cpu temp I'll be able to drop the open hardware monitor component.

[2022-04-24 05:14] Aidan-Chey commented on #46
I did a memTest, man that takes a long time, doesn't look good either... I'll try the HardwareMonitorTester now

Are you any good at reading the results? I can see memtest gave me fail grade and I can see there is a 0% pass for certain types of tests. But maybe I'm overreacting? IDK, there was no fails in the address testing...

Results below

![image](https://user-images.githubusercontent.com/683

[2022-04-24 05:23] Aidan-Chey commented on #46
K so I ran the tester for a bit and it also crashed after a bit. I started a game to get some decent values and saw it had crashed after I closed. I started it in a terminal also. I see it made a log file but it doesn't seem to have the crashing output (like with the satellite).

Here is the log from the terminal:
[code]

Looks like it's running into the same crashing issue as the satellite servic

[2022-04-24 09:23] LAB02-Admin commented on #46
Okay well good thing I  didn't say 100% 😁 But seriously, still doesn't have to be related, it'd be odd that this specific piece of code gets triggered on those specific broken bits. That said, don't know where you're from, but I'd definetely try to get it replaced through warranty..

So it doesn't look like it recovers after those exceptions? Bummer.

I did find another better maintained library f

[2022-04-24 21:37] Aidan-Chey commented on #46
Looks like that tester is just getting null values from my setup
[code]

[2022-04-25 08:06] LAB02-Admin commented on #46
Alright well no lack of plottwists here. I compiled the OpenHardwareMonitor tool that comes with the library, it's the regular application but it uses the same library as the tester.

You could see if that one works (if so, there might be a fault in my application), and if it crashes or not:

https://shares.lab02-research.org/tests/46/OpenHardwareMonitor.zip

[2022-04-26 02:00] Aidan-Chey commented on #46
I ran that memtest report past someone more knowledgeable than myself and they think it's pretty clear my second dimm has errors in it because of the set of the MBs the errors start & end at ( upper range of 16 GB ). So I'm gonna test that.
Unfortunately however my liquid AIO cooler pump has broken while I was in my case. So PC is out of commission till I get that replaced. I'm not sure how long t

[2022-04-26 09:50] LAB02-Admin commented on #46
Ah that sucks :\ Good luck

[2022-04-28 11:46] SamMousa opened #58 "Feature: use MQTT for integration communication"
The agent uses MQTT to send sensor values to HASS.
It listens on a port to receive notifications.

The library for MQTT supports subscribing to events: https://github.com/dotnet/MQTTnet/blob/master/Samples/Client/Client_Subscribe_Samples.cs

You could (initially) implement this as something additional without removing the current implementation:
- Subscribe to a topic
- When receiving a message cr

[2022-04-28 13:14] LAB02-Admin commented on #58
Hey @SamMousa,

It currently already subscribes as well (to be able to receive commands). But having the integrations use MQTT internally is a nice idea though! Hadn't thought of that.

I'll keep it in my mind for future updates, could be a nice fallback if something can't be done through websockets (that's where I'm heading with notifications, but not everything can be done through them efficient

[2022-04-29 10:09] LAB02-Admin commented on #31
This has been added to the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0-beta1

[2022-04-29 10:09] #31 closed

[2022-04-30 18:08] paccerdk opened #59 "Feature: make right-click trayicon menu user-configurable"
First of all, great piece of software, I can see you put a lot of work into it.

I used to use "[Home Assistant Desktop](https://community.home-assistant.io/t/home-assistant-desktop-macos-windows-and-linux-quick-and-easy-access-to-ha/196191)" which is now supposedly dead - I saw that you suggested your own software in this thread as an alternative, so I am trying to set it up as such..

I used Hom

[2022-04-30 23:42] Aidan-Chey commented on #46
K, I'm back in action, parts are still in warranty o I've had them sent off. Got some new ram (same model) and did a memtest on those which passed.

I booted up that "LibreHardwareMonitorTester" and it still seems to crash, hm.

[code]

I'll try out the open hardware monitor after I do a memtest again.

[2022-05-03 20:12] GegoSK opened #60 "Crash after start-up"
Hello again :),
I am not sure, what happened today (windows update?), but HASS.Agent did not start. This is the error:
![image](https://user-images.githubusercontent.com/65870850/166555217-d549bc28-3cd5-487a-90ba-3305c63e1cbd.png)
When I press OK:
![image](https://user-images.githubusercontent.com/65870850/166555276-ca065ad0-d41f-448b-ae5b-b4f5679ec211.png)
Again OK and crash.

Log file:
[code]

A

[2022-05-04 07:06] LAB02-Admin commented on #46
Hey @Aidan-Chey,

Good to hear you're back! Sorry for the late reply, was away for a few days.

I'll open a ticket with the OpenHardwareMonitor devs and get back to you when I have a reply :)

[2022-05-04 07:09] LAB02-Admin commented on #59
Hi @paccerdk,

Sorry for the late reply - was away for a few days. From what I understand, Home Assistant Desktop was pretty much just a webbrowser-control, so it showed the HA dashboards. That's actually on the shortlist for the next version of HASS.Agent as well.

However, I completely agree with the trayicon menu being useless. I'll add the ability for users to decide for themselves what happen

[2022-05-04 07:21] LAB02-Admin commented on #60
Hi @GegoSK,

I actually had the same problem! It's caused by corrupt performance counters. It's easy to fix, I've written a wiki page for it:

https://github.com/LAB02-Research/HASS.Agent/wiki/Performance-Counter-Debugging

I'll add a 'fix performance counters' button to my todo list, but for now hopefully this fixes it for you. Let me know if it doesn't!

[2022-05-04 07:21] #60 closed

[2022-05-04 10:58] jellewestenberger opened #61 "HASS.Agent Service queries homeassistant.local frequently."
Hello!

I noticed in the logs of my local dns server (AdGuard) that `homeassistant.local` gets queried about every 10s. This would only stop after I disabled the HASS.Agent service in Windows.

I have configured HASS.Agent to use a custom https url to communicate with the HA API, which works without a problem, but for some reason `homeassistant.local` also gets queried.

Initially my dns server wo

[2022-05-04 12:45] LAB02-Admin commented on #61
Hi @jellewestenberger,

The service doesn't use the API, just MQTT. If you actually use the service, you can easily change this by entering a static IP here instead of the mDNS name:

![image](https://user-images.githubusercontent.com/81011038/166683639-07a9361d-ae3a-4577-a7b4-5c200ab44461.png)

If you don't use the satellite service, you can just set it to disabled:

![image](https://user-images.

[2022-05-04 13:19] jellewestenberger commented on #61
Hi @LAB02-Admin,

Thanks for your reply!

In my configuration the MQTT broker's host had already been set to the correct static ip. So why is the satellite service still querying homeassistant.local? Is this a bug?

I would prefer to keep the service running so that I can still send hibernation or shutdown commands to my PC, even when the user is logged off.

[2022-05-04 13:23] jellewestenberger commented on #61
Oh excuse me, I just noticed that there is a separate MQTT configuration tab inside the satellite service configuration window. There the host was indeed set to homeassistant.local.

My bad!

[2022-05-04 13:23] #61 closed

[2022-05-04 21:11] GegoSK commented on #60
@LAB02-Admin Thank you very much for respond. Today everything works without problem. Even with CpuLoadSensor. Add yes, I restarted PC, yesterday.
To be honest, I should wait for few days, whether it will be fix by itself.

[2022-05-05 06:57] LAB02-Admin commented on #46
LibreHardwareMonitor just released a new version, with a lot of new hardware support, so let's try that first:

https://shares.lab02-research.org/tests/46/LibreHardwareMonitorTester.zip

If it still crashes, could you please tell me exactly which graphicscard you have?

[2022-05-06 07:26] Aidan-Chey commented on #46
Yep, that one still crashes.
[code]

Here are the relevant specs for my Rig:
- CPU: AMD Ryzen 7 5800x
- GPU: AMD Radeon RX 6800 (PowerColor Red Devil)
- RAM: G.SKILL Ripjaws V 3600mhz DDR4 16GBx2
- Storage: Corsair M.2 SSD 2TB Force MP600 NVMe
- Motherboard: ASRock X570 Phantom Gaming 4 Wifi ax

[2022-05-06 08:32] LAB02-Admin commented on #46
Thanks for the extensive info, I've opened a ticket with the dev

[2022-05-06 12:32] paccerdk commented on #59
Thanks for your reply, looking forward for future updates!

For the record, I'd still love to see/like to request sliders. I wouldn't have to waste resources running the whole browser engine etc. Makes a lot more sense for audio, light and others instead of having incremental buttons and such - seems like a pretty essential thing to me.

[2022-05-06 17:03] paccerdk commented on #59
You're right, that's exactly how home assistant desktop did it,  which in my opinion worked but wasn't ideal.
I'd be completely fine with WebView and then native sliders "further down the road", ill take anything I can get.
What I am saying, is just that sliders was an actual suggestion (figured I'd better mention it, because of your renaming of this ticket and not commenting on native sliders in

[2022-05-06 17:08] paccerdk commented on #59
Oh, and just as a side-note.
It seems the maintainer of homeassistant desktop just deleted the repository without any warning or notice. It may not even have been intentional? I remember reading somewhere, probably a ticket in the repository, that the project "wasn't dead" - this status may of course have changed the mean time.

its also my impression that nobody has been in contact with the maint

[2022-05-06 18:37] LAB02-Admin commented on #59
That does make sense, got it! I'll keep it in mind :)

Thanks for sharing the installer, you can remove it now if you want

[2022-05-08 11:39] LAB02-Admin commented on #59
This has been added in the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0-beta2

I'll keep the native implementation in mind, that would be best :) If something's missing/not working as you'd like/whatever in the beta, please reopen this ticket and let me know!

[2022-05-08 11:39] #59 closed

[2022-05-08 13:03] paccerdk commented on #59
Wow, you've been busy ;) this is nothing less than amazing! you've made my day, new beta works great!

[2022-05-08 14:55] LAB02-Admin commented on #59
Hey thanks for the uplifting feedback, you're very welcome! And thanks for testing :)

[2022-05-08 18:02] holdestmade opened #62 "Bug: WebView doesn't work with desktop scaling"
Great new feature but I have my desktop scaled to 125% and this causes the rendered webpage to be smaller than the configured window. If I set to 100% it works fine.

[2022-05-08 18:42] LAB02-Admin commented on #62
I'll look into it, thanks, bloody scaling

[2022-05-09 16:53] LAB02-Admin commented on #62
Release a hotfix that should fix this. Please note that other parts of HASS.Agent are now misaligned, sorry. Hopefully not too bad, let me know if something's unusable now.

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0-beta3

[2022-05-09 16:53] #62 closed

[2022-05-11 08:18] holdestmade commented on #62
Thanks webview works fine now

[2022-05-12 04:39] ruifung opened #63 "Feature: separate MQTT topics for configuration and state reporting"
For example, my homeassistant instance has the discovery topic at homeassistant/discovery/#
But I would like hass.agent to have it's control topics at something like hassagent/#.

At present it stashes its state and control topics under homeassistant/discovery/#.

[2022-05-12 04:42] ruifung opened #64 "Feature: send additional identifiers in MQTT discovery payload"
It would be nice if MAC addresses / ip addresses /etc were sent in the discovery payload, if only so home assistant can correctly merge the resulting device with other entities from other integrations, i.e. unifi network.

[2022-05-12 06:53] LAB02-Admin commented on #64
That's a great idea, thanks!

[2022-05-12 07:02] LAB02-Admin commented on #63
Hi @ruifung,

Is `homeassistant/discovery/#` something you configured yourself? Because by default, hass.agent publishes to for instance `homeassistant/switch/{pc_name}/{switch_name}/config` and subsequently `homeassistant/switch/{pc_name}/{switch_name}/state`.

So as it is, everything's already categorized as entity type, device name and entity name.

I can see how moving the state topics to hass

[2022-05-12 11:08] blindndangerous opened #65 "Feature: labeling elements for those who are blind"
I found this from the official HA topic, and downloaded it.  I like it, from what I can tell, but everything is unlabeled.  I am a blind user and I use a screenreader called nvda to use the computer.  After installing this, it doesn't look like any of the buttons, lists, or tabs have proper labels.  They all just say button, list, or tab with a long string of numbers and metro at the end and nothi

[2022-05-12 11:17] LAB02-Admin commented on #65
Hi @blindndangerous,

Thanks for reaching out! You are absolutely right, labeling is a mess. I'll try my best to label them, and yea then it'd be great if you could test and determine if the labels make sense.

I'll reply here as soon as I have a test version ready!

[2022-05-12 12:33] ruifung commented on #63
Yeah, it's something I configured myself on my installation.
And yeah, it's mainly to tidy things up a bit, and for ACL reasons I suppose since I have rather fine grained ACL on my MQTT broker.

Since in my setup, almost all MQTT clients have limited access to only the topics they require.
 I.e. if they publish a HASS discovery entry, it's write-only to the discovery topics, and readwrite to their

[2022-05-12 12:48] SamMousa commented on #58
If the agent switches to websockets this will already be the case. And since it's bidirectional it would fully remove the need for a separate notification server.

[2022-05-12 15:42] LAB02-Admin commented on #58
The new [mediaplayer integration](https://github.com/LAB02-Research/HASS.Agent-MediaPlayer); I didn't find a way to build that using websockets.

[2022-05-12 15:43] LAB02-Admin commented on #63
Sounds like you have an impressive configuration :) Very neat.

I'll see what I can do!

[2022-05-13 04:12] ruifung commented on #58
I just took a look at the media player integration, it seems like it's just sending simple text format payloads?

And looking at the HASS WebSocket API docs...

Couldn't you do something with the event bus, and a event subscribe_trigger? Then in the integration you could send a event with a device ID or something which the subscribe_trigger can use.

Well, either that or MQTT, I suppose.

[2022-05-13 06:49] LAB02-Admin commented on #58
Hey @ruifung,

Interesting! From what I read, I figured you could only subscribe to existing entities, mostly because of the line:

So hadn't looked into it much. But I'll go tinker with it for the next iteration of both integrations. Thanks for the tip.

[2022-05-13 06:58] SamMousa commented on #58
You cannot register entities via websockets but maybe you don't need to. Just set them up during integration setup, then use websockets to update state!

[2022-05-13 07:00] LAB02-Admin commented on #58
Figures, nice!

[2022-05-13 10:13] ruifung commented on #58
@LAB02-Admin I mean, you don't need to, just (ab)use the event bus to post your own messages there. XD

hassagent_join_event
hassagent_heartbeat_event
hassagent_ping_request_event
etc.etc.etc..

Though, I suppose MQTT would be a lot "cleaner", especially since you can make use of the LWT message to detect when the client drops.

[2022-05-13 10:32] SamMousa commented on #58
MQTT Discovery doesn't support Media Players though. Note that you can use MQTT over websockets as well. Just use the mqtt service to publish messages...

For the sensors that makes sense, for the mediaplayer you could look into using something like: https://github.com/TroyFernandes/hass-mqtt-mediaplayer as inspiration or https://github.com/jonaseickhoff/hass-multiroom-mqtt-mediaplayer

Essentiall

[2022-05-17 07:26] ALERTua commented on #37
as far as I understand, an external URL is unusable while your internet connection is down. it would be nicer to use local IP while keeping HTTPS and use no certificate. could you implement an option to do so?

[2022-05-17 07:41] LAB02-Admin commented on #37
Hi @ALERTua,

If you enable https, home assistant (by default) won't listen to local non-ssl connections anymore. If you want to use both local and ssl connections, I wrote a short manual on how to achieve that:

https://hassagent.readthedocs.io/en/latest/notifications/notification-debugging-ssl/

Note that this only works with duckdns and other custom ssl solutions. You don't need to do this for

[2022-05-25 05:17] Jizzay1 opened #66 "Feature: toggle display sleep mode"
Hi
Would love a command to turn the windows pc display off and on. Use case is a pc touchscreen that runs a Lovelace dashboard that I want to turn off in my kitchen when no motion and on when motion. Iot link has this and would allow me to transition over fully.

[2022-05-25 09:52] LAB02-Admin commented on #66
Hi @Jizzay1,

That's actually on my todo list: [hassagent-11](https://lab02research.youtrack.cloud/issue/hassagent-11)

Won't be in the next version, but I'll try the one after that :)

[2022-05-25 13:02] JvdMaat opened #67 "Install goes to UAC profile path"
This is probably a fringe scenario, but I added this to my work laptop on which I am not an Administrator. So the UAC pops up for admin credentials, in which I enter a local Admin account, and then the next screen will attempt to install HASS.Agent in:
C:\Users\localadmin\AppData\Roaming\LAB02 Research\HASS.Agent\

And after install, I (as regular user) do not have access to that folder. So instal

[2022-05-25 13:28] JvdMaat opened #68 "Bugs: Network and WindowsUpdates sensors, UI exception"
Not sure which is the buggy sensor, but I added the following to Satellite:
CpuLoad, LastBoot, LastSystemStateChange, MemoryUsage, Network, WindowUpdates
The first time it replaced the WindowsUpdate with a second instance of Network. Then it left the above list in, but added a second instance of Network at the end. Removing all three (Network, WU, Network), then sending and activating, closing win

[2022-05-25 13:44] JvdMaat commented on #68
I'm not seeing how I can attach a file to this comment. How do you want them?

[2022-05-25 13:53] JvdMaat commented on #68
The log's big (22K at this point), but here's the pertinent part in the services log:

[code]

I left the network monitor to All, but it does see the NICs:
![image](https://user-images.githubusercontent.com/90044149/170278993-1c874cc7-8e96-49e2-9fda-014ebaa689fc.png)

And on the WindowsUpdates side (May be a separate bug from the above):

[code]

[2022-05-25 16:22] LAB02-Admin commented on #68
Looks like a few interesting bugs, I can work with this. Thanks for the extensive info!

If the wupdates command doesn't work from HASS.Agent either, it's possible there's something wrong/off with your wupdate service.

[2022-05-25 16:44] JvdMaat opened #69 "Feature: Check if location disabled on laptop"
My work laptop has the location disabled via GPO:
![image](https://user-images.githubusercontent.com/90044149/170316456-9d254b39-03bd-4acf-980e-387069adeb14.png)

Which means the log just spams:
2022-05-25 09:09:53.946 -04:00 [FTL] [SENSOR] [i-jvandermaat_geolocation] Error publishing state: Access is denied. (0x80070005 (E_ACCESSDENIED))
(Literally every second)

Maybe build in a check to see if

[2022-05-25 16:48] JvdMaat opened #70 "Bug: CpuLoad from Satellite Service doesn't work."
On one of my two laptops, the CpuLoad for the Satellite Service doesn't work (returns 0).
When I add it through the local sensor, it gives a correct value.
Nothing in Satellite Logs showing any issues.

[2022-05-25 16:59] JvdMaat opened #71 "Feature: Update GeoLocation to have Latitude and Longitude as attributes."
Having them as Attributes instead of a string value would allow them to be used on a Map card.
(and potentially do geofencing with cell data enabled devices, or systems with broad enough WiFi range?)

[2022-05-25 19:21] LAB02-Admin commented on #71
You're on fire :p

For this HASS.Agent needs to support attributes - it's on [the list](https://lab02research.youtrack.cloud/issue/hassagent-72). But yea afterwards the geolocation sensor can be upgraded - also [on the list](https://lab02research.youtrack.cloud/issue/hassagent-59) 😁

[2022-05-25 19:59] JvdMaat commented on #71
I guess with that also comes... an Update sensor with appropriate attributes (for Windows Updates)? (Not sure if that would work in the HA framework, as the WU sensor does not work on either of my laptops, and I'm not sure if you can populate it with the correct data)
(And an update sensor for the HASS.Agent itself so we can alert on new agent updates centrally in HA. Especially useful if you moni

[2022-05-25 20:21] Jizzay1 commented on #66
Thank you! In the meantime I figured out a custom command to turn off display using a powershell command, and turn on using a key press. No rush!

[2022-05-25 21:10] JvdMaat opened #72 "Bug: Sleep command button does not do anything"
I created a Command for Sleep as a Button.
Pressing it in HA doesn't have any results. Checked the logs, and don't see any mention of it.
What does it do in the background, and in which user context (service or agent/user)

[2022-05-26 00:06] JvdMaat commented on #72
This was apparently my fault. I had a desktop shortcut that I used which basically executes: (Since I always RDP into this machine, and doing a Start -> Power -> Sleep does NOT work over RDP. Despite the option being there)
`C:\Windows\System32\rundll32.exe powrprof.dll,SetSuspendState 0,1,0`
And that no longer worked either.
I then remembered I saw in the docs that hybernate had to be off, so I h

[2022-05-26 07:56] LAB02-Admin commented on #72
Interesting, thanks for letting me know!

[2022-05-26 07:56] #72 closed

[2022-05-26 08:07] LAB02-Admin commented on #71
Yea the WindowsUpdates sensor is plannend to be upgraded when attributes are supported, because currently there's not enough space (255 chars max) to show the names of all pending updates - so it just shows a counter. But it probably won't support HA's own updating mechanism (not really an advantage to do so I think).

The HASS.Agent update sensor is nice, could even be accompanied by a UpdateAgen

[2022-05-26 08:10] LAB02-Admin commented on #70
This works fine on my end. Can you please provide some info:

- What Windows build do you have (possible a screenshot of the `winver.exe` output)
- What UI language
- Does the GPU load sensor work
- What version of HASS.Agent

Thanks :)

[2022-05-26 08:12] LAB02-Admin commented on #69
[[hassagent-88](https://lab02research.youtrack.cloud/issue/hassagent-88)]

[2022-05-26 08:13] LAB02-Admin commented on #66
Nice going! What PS command did you end up using?

[2022-05-26 10:38] Aidan-Chey commented on #46
Hey, thanks for keeping in touch.

I gave the hardware monitor ago and it seems to report the data using the
wmi sensores to the agent. There was a minor issue with the core
temperature where condition, so I changed it to only be 'core' and that
seems to have be reporting the correct value.

I guess this will have to do for now, a bit apprehensive because like
stated previously, the Libre hardware

[2022-05-26 12:05] JvdMaat commented on #70
Apparently this was a fluke. After sleeping my laptop last night, and waking it up this morning, the satellite CPU sensor is now working fine.
Speaking of GPU, that lists Not Supported on my main system (With an integrated Intel 520)
![image](https://user-images.githubusercontent.com/90044149/170484356-b972bf21-bbe9-4e1d-875f-0d0e163ffeb1.png)
But works fine on the other which has AMD Radeon Graph

[2022-05-26 12:25] LAB02-Admin commented on #70
Glad it's fixed. I use the librehardwareinfo library for that, so you could open a ticket there:

https://github.com/LibreHardwareMonitor/LibreHardwareMonitor

[2022-05-26 12:25] #70 closed

[2022-05-26 13:31] LAB02-Admin commented on #27
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:31] #27 closed

[2022-05-26 13:33] LAB02-Admin commented on #41
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:33] #41 closed

[2022-05-26 13:33] #44 closed

[2022-05-26 13:33] LAB02-Admin commented on #52
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:33] #52 closed

[2022-05-26 13:33] LAB02-Admin commented on #54
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:33] #54 closed

[2022-05-26 13:33] LAB02-Admin commented on #57
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:33] #57 closed

[2022-05-26 13:33] LAB02-Admin commented on #58
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:33] #58 closed

[2022-05-26 13:34] LAB02-Admin commented on #63
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:34] #63 closed

[2022-05-26 13:34] LAB02-Admin commented on #64
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:34] #64 closed

[2022-05-26 13:34] LAB02-Admin commented on #69
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:34] #69 closed

[2022-05-26 13:34] LAB02-Admin commented on #71
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:34] #71 closed

[2022-05-26 13:34] LAB02-Admin commented on #66
I'm closing most feature requests from github's issue list. They're not ignored, just moved to the [HASS.Agent Issue Tracker](https://lab02research.youtrack.cloud/) (you can find your link in a comment above).

That tracker allows me to organise better through what's pending, being done, being released, etc. - instead of one long list, which is beginning to stress me out :p

I will however post a

[2022-05-26 13:34] #66 closed

[2022-05-26 13:36] LAB02-Admin opened #73 "Readme: pending Features and Bugs"
HASS.Agent's open feature requests (and bugs) are listed in its issue tracker:
https://lab02research.youtrack.cloud/

There's a list of open bugs & features on the right. On the left you can see what's being worked on, what's planned and what's ready for the next release.

If you're stuck or need help, there's an extensive documentation that might be helpful:

https://hassagent.readthedocs.io/en/l

[2022-05-26 17:06] JvdMaat commented on #70
I downloaded it, and it shows the GPU info:
![image](https://user-images.githubusercontent.com/90044149/170538777-fa89f644-ced6-46c1-bb57-51cca76abed2.png)

[2022-05-26 17:59] LAB02-Admin commented on #70
I don't think intel gpus are supported through the library yet. You can however keep Librehardwareinfo running in the background, and use a wmi sensor to fetch the data.

There are some examples here:

https://hassagent.readthedocs.io/en/latest/wmi-examples/

[2022-05-31 23:11] fusionstream commented on #39
Got it. Thank you. Also, am using both Tailscale and Zerotier now! haha

[2022-06-01 05:29] karwosts opened #74 "Bug: On resuming from sleep, sessionState sensor reports "Locked" indefinitely, even though PC is unlocked."
**Describe the bug**
I use this program to report my PC's state to Home Assistant via the sessionState sensor. 90% of the time it works correctly, though sometimes after resuming from sleep it will be stuck reporting "Locked" when the device is actually unlocked and in use.

One faulty sequence looks like this:

6:26pm - PC transitions from Unlocked to locked. Sensor updates.
6:32pm - PC goes to s

[2022-06-01 07:51] LAB02-Admin commented on #74
Hi @karwosts,

Thank you for the detailed bug report :) Could you please confirm that when the fault occurs, HASS.Agent has the right value - you can do so by opening the 'local sensors' window and checking the 'last known value' column:

![image](https://user-images.githubusercontent.com/81011038/171354064-c136b40a-6c47-4676-b27c-eee20095ddaa.png)

If it is (and I'm guessing/hoping it is), it's b

[2022-06-01 07:56] LAB02-Admin commented on #39
Hah, nice :p Bummer though that the tailscale network still can't be reached from within HA (as far as I know)

[2022-06-01 12:19] LAB02-Admin commented on #74
Thanks, that is (relatively) good news - means the sensor works. Hang tight for the fix :)

[2022-06-01 14:43] karwosts commented on #74
Just an idea, but would it make sense to just resend all sensor values anytime MQTT goes from disconnected to connected?

`2022-05-31 18:35:34.809 -07:00 [WRN] [MQTT] Not connected, message dropped (won't report again for 5 minutes`
`2022-05-31 18:35:52.951 -07:00 [INF] [MQTT] Connected`

Seems like if you just updated the sensor values here after MQTT connected that might have resolved the issue.

[2022-06-03 11:50] LAB02-Admin commented on #74
It actually already does that (otherwise it'd fail a whole lot more), but sometimes the package's lost even though it looks sent.

I already request sensor data on intervals for the quick actions, and that doesn't slow anything down. But it could have a somewhat smart algorithm, for instance: after a disconnect, increase the polling interval for 5 minutes.

[2022-06-03 14:01] n0tOdd opened #75 "Misc: Using the active window sensor as a condition?"
Are there any reason why the active window sensor can not be used as a condition in automations?
i have some automations that auto play pause kodi in my living room, but im missing a way for it to only fire when kodi is my active window

[2022-06-03 16:30] tinbob opened #76 "Bug: PerformanceCounter not found"
**Describe the bug**
Unable to add sensors.

Please check what's applicable (multiple answers possible):
 - [x] Installed via installer
 - [x] Problem occurs in HASS.Agent
 - [x] Problem occurs in Satellite Service

**Logs**
[FTL] [SENSORSMANAGER] Error while storing: PerformanceCounter not found
System.Exception: PerformanceCounter not found
   at HASS.Agent.Shared.HomeAssistant.Sensors.Performan

[2022-06-03 16:36] #76 closed

[2022-06-04 18:03] LAB02-Admin commented on #75
No that should be usuable. Perhaps something like this:

[code]

Haven't tried it, I'm away for the weekend.

[2022-06-04 18:17] n0tOdd commented on #75
Thank you so much for the advice, fixed my last needed automation =) . I should probably sit down and read up about the automation system in home assistant to not get problems like this again in the future

[2022-06-04 18:36] LAB02-Admin commented on #75
Nothing wrong with a hands-down approach! Glad I could help 😃

[2022-06-04 18:36] #75 closed

[2022-06-08 19:59] klkohl opened #77 "HASS.Agent crashing"
Just intalled it on on Windows 10 machine. Every time I try to start it, it crashes. I uninstalled and reinstalled and it still crashes.

[2022-06-09 06:41] LAB02-Admin commented on #77
You're not giving me much to work with here 😁

Do you get a message or popup when it crashes? And could you please send the content of the logs (if there are any), you can find them at `%appdata%\LAB02 Research\HASS.Agent\logs`.

[2022-06-09 13:21] mendoncart opened #78 "Feature Request: Actionable notifications"
Hi!
I think that such an awesome tool is only missing the "actionable" part of the notifications.
Like we can use in the [companion app](https://companion.home-assistant.io/docs/notifications/actionable-notifications/).
Otherwise, is practically perfect.
Thanks!

[2022-06-09 13:32] #78 closed

[2022-06-09 15:36] Otanar1 opened #79 "Bug: Satellite Service fails under Windows 7"
**Describe the bug**
I can't activate the Satellite Service, I already reinstalled the service, Hass.Agent, .NET 3.1.25, 5.0.17, 6.0.5, 7.0.0-preview.4 and nothing worked.
I've run it as administrator and the problem persists.
----

**Screenshots**

**Misc info (please complete the following information):**
 - Windows build (ideally screenshot/info of `winver.exe` output): Windows 7 Profissional -

[2022-06-09 15:41] LAB02-Admin commented on #79
Hi @Otanar1,

Thanks for the detailed reports :)

I haven't actually tested hass.agent or the satellite service under windows 7. Give me some time to setup a Win7 environment so I can see if I can get it to work!

[2022-06-09 16:36] Kimosaj opened #80 "Bug: installer crashes on launch"
Hi, I have an issue where the installer crashes every time I tried to open the "HASS.Agent.Installer.exe".
Than there is the window where I get asked if I want to agree to make changes to the system. I click on yes and a small window pops up fpr 1 second than another for maybe a half second and than its over nothing else and no program installed. My operation system is Windows 10 and I also have a

[2022-06-09 20:12] klkohl commented on #77
Sorry about that. It's working now. I didn't see any message or popup. For what it's worth I'm attaching the log from yesterday.

[2022-06-08_HASS.Agent.Satellite.Service_20220608.log](https://github.com/LAB02-Research/HASS.Agent/files/8873600/2022-06-08_HASS.Agent.Satellite.Service_20220608.log)

[2022-06-10 06:50] LAB02-Admin commented on #77
Interesting log, thanks for sharing - I'll better handle unauthorized connections. Glad it's fixed :)

[2022-06-10 06:50] #77 closed

[2022-06-10 06:57] LAB02-Admin commented on #80
Could you please run `winver.exe` and post a screenshot of its result?

Then please start the installer and wait for it to crash again. Afterwards launch `eventvwr.exe`, then wait a bit while it loads all logs. When it's done, right click `Error` and click `View All Instances of This Event`. In the list that shows, please see if there are any relevant errors and post them here.

![image](https://u

[2022-06-10 12:47] LAB02-Admin commented on #53
Fixed in latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0-beta4

[2022-06-10 12:47] #53 closed

[2022-06-10 12:48] LAB02-Admin commented on #65
I've added initial support for screenreaders to the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0-beta4

Could you please test it, and let me know if it's usable, and what can be improved? Thanks!

[2022-06-10 16:21] LAB02-Admin commented on #80
You're using a very old version of Windows 10, which hasn't been supported since 11th of May, 2021. Is there a reason you can't update? It might be a compatibility issue.

Depends, if you're seeing nothing but a quick flash or something, then not really :(

You could try installing manually: https://hassagent.readthedocs.io/en/latest/installation/#2-manual

[2022-06-11 11:51] sophof opened #81 "Feature: Binary power sensor"
**Is your feature request related to a problem? Please describe.**
Power status of the machine has to be deduced from availability

**Describe the solution you'd like**
A simple binary sensor that is on when the hass.agent is connected and otherwise off.

**Describe alternatives you've considered**
A template binary sensor that is off if a single sensor is _Unavailable_

**Additional context**
I'm

[2022-06-11 13:21] LAB02-Admin commented on #81
I think I get what you're going for, but could you tell me the added value of this over using a `wake_on_lan` entity:

[code]

[2022-06-11 14:51] DeerMaximum opened #82 "Bug: MQTT SSL certificate error"
**Describe the bug**
When I want to connect the agent via MQTT and SSL to a MQTT broker the connection fails with a certificate error. If I enter the same login data and settings in another MQTT client the connections work without problems.
I use self created certificates. With and without the setting "allow untrusted certificates" this error occurs.

**To Reproduce**
Steps to reproduce the behavi

[2022-06-11 15:43] LAB02-Admin commented on #82
Hey @DeerMaximum,

Don't actually use certs myself, so it's hard for me to determine exactly what's going wrong. I'll setup a test environment with mqtt certs, and see if I can reproduce/fix it :)

[2022-06-12 13:13] sophof commented on #81
The issue is that twofold:

1. I want a separate entity to indicate the computer power status for other applications as well.
2. This switch doesn't have any state sensor, I think WOL works around it with polling by ping, but I prefer that the device itself communicates its status (it's much more reliable and fast in my experience, plus it's the preferred home assistant way).

[2022-06-12 22:09] grastraa opened #83 "Feature: Have webview remain open regardless of window focus"
Enjoying the new webview option recently introduced in a beta.

It seems that the webview auto closes itself on loss of window focus. Without `keep loaded in the background` checked, it also forgets the set window location.

Could we have a setting to have webview remain open until we RMB the tray icon again?
And ideally, remember the window location also?

[2022-06-13 18:07] LAB02-Admin commented on #83
Sounds fair enough! I've created a feature request: [[hassagent-97](https://lab02research.youtrack.cloud/issue/hassagent-97)]

I'm closing this ticket, not because I'm not doing it, but to keep all issues centralised and the github list (relatively) clean. As soon as it's implemented, I'll reply here :) Thanks

[2022-06-13 18:07] #83 closed

[2022-06-13 18:10] LAB02-Admin commented on #81
Okay, got it. Reason I asked is that because I'm a single developer, and HASS.Agent has become quite complex, I try not to spend time creating functionality that can be done through hass. But I agree on reliability, and this has been asked in some form before.

So I've put it on the list: [[hassagent-97](https://lab02research.youtrack.cloud/issue/hassagent-97)]

I'm closing this ticket, not becaus

[2022-06-13 19:07] sophof commented on #81
Thanks and I understand of course. Just to give you some hints, since I already had this running with my own python code I might be able to reduce the hassle. I think you can 'easily' add it via the last will method as in my code above or use the availability you already have coded up now. I assume that the availability is tied to the mqtt connection as well, so all it would need is to report that

[2022-06-13 23:54] tankdeer opened #84 "Bug: Audio sessions state length > 255 chars"
**Describe the bug**
Audio session state can easily be over 255 characters in length, which is the max allowed by HA

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Audio Session state sensor
2. Play some music. (I personally use Music Bee)
3. Depending on what is playing, you may or may not see errors in the log.

**Expected behavior**
No errors for sure. I would assume the value

[2022-06-14 07:50] LAB02-Admin commented on #43
Thanks @LeandroIssa for translating again :) You're really setting the bar for the others :p

I've adopted a new release cycle; first I build the betas, without publishing the new to-be-translated strings (because that's a lot of work, and they change all the time). When the release candidate is ready, I publish them all at once and notify the translators. A few days later, I release the final ver

[2022-06-14 12:38] LeandroIssa commented on #43
I'm really excited about the news here for HASS.Agent, it's a program that really makes a difference! Thank you for your attention with the community!

That's fine with me, whatever is best and simple for you!

Thanks for the recognition for the translations, more than 50 HACS components have already been translated, apart from the core and frontend of Home Assistant that I keep the translation at

[2022-06-15 16:34] lbandi2 opened #85 "Bug: MQTT disconnects before sleep, grace period unreliable"
The program works perfectly, but whenever I resume my computer from sleep, Hass agent reports 'MQTT failed to connect' which is kind of annoying to dismiss the notification event though it reconnects just fine (after resuming).

**To Reproduce**
Steps to reproduce the behavior:
1. Let your windows session go to sleep
2. Resume
3. Message should pop up

**Expected behavior**
Hass agent should detec

[2022-06-15 18:44] LAB02-Admin commented on #85
Have you tried setting this to a higher value:

![image](https://user-images.githubusercontent.com/81011038/173901666-6a3047dd-e677-4a90-a4ab-f55b7576f265.png)

[2022-06-16 01:52] DivanX10 opened #86 "Docs: adjust screen brightness using Monitoring"
I currently use IOTLink to adjust the brightness of the computer monitor screen, but the author of the project abandoned the IOTLink project and am looking after this project, but I can't understand how you can use commands to adjust the brightness here. To make it clear what we are talking about and how it works, first it is better to read the [post](https://community.home-assistant.io/t/we-contr

[2022-06-16 12:12] LAB02-Admin commented on #86
Hey @DivanX10, that's a very interesting post, thanks for sharing! It can be done through HASS.Agent using a CustomCommand with an Action. I'll write a document post about it, so others can use it as well, and report back here when it's done :)

[2022-06-16 13:08] lbandi2 commented on #85
So after testing it yesterday, I set the option you highlited to ~16-17 minutes and the sleep time of my pc to 15 minutes. What I found today is that the message occurs anyway and I had the feeling that it was before going to sleep, but it happens the instant that the pc resumes.

Any ideas?

[2022-06-16 14:05] LAB02-Admin commented on #85
Interesting, thanks for checking that out! Hadn't occured to me that the disconnect can happen before going to sleep, that can mess with the counter.

I'll improve it and let you know

[2022-06-16 14:25] LAB02-Admin commented on #79
Hi @Otanar1,

So I've been playing with it, but I can't even get HASS.Agent to work *at all* on Windows 7 heh. So it's odd that you can, but that's fine.

I did however find a way for you to run the Satellite Service, if you want. Open an elevated command prompt, and type these commands:

`sc.exe create "HASS.Agent Satellite Service" binPath= "C:\Program Files (x86)\LAB02 Research\HASS.Agent Satel

[2022-06-16 15:30] lbandi2 commented on #85
Awesome, let me know if you need logs or anything else.

[2022-06-16 16:39] Otanar1 commented on #79
Thanks for the feedback @LAB02-Admin .

Version 2022.11.4 works on Windows 7, 2022.12.0 does not.
What you gave me worked, now the service is working.
![Satellite Service](https://user-images.githubusercontent.com/87052646/174121998-b24deac2-7911-4e1e-936f-dac2a70df7f9.jpg)

Thanks for the excellent work.
Now I just need to solve the problem with the version 2022.12.0, for now I will not update.

[2022-06-16 16:47] DivanX10 opened #87 "Sensor ActiveWindowSensor"
There is an Active Window Sensor that allows you to monitor the running process. For each process, you need to create a separate Active Window Sensor with different names. This makes it inconvenient to track whether the game is running or not. There is no grouping of all processes into one sensor. Or alternatively, there is an activewindow sensor that shows which window is currently active, a very

[2022-06-16 19:12] DivanX10 opened #88 "Full-screen mode sensor"
I didn't find it in the [documentation hass agent](https://hassagent.readthedocs.io/en/latest) how to get a sensor that shows which mode the application is in, fullscreen or not. For a visual example, I post data from the IOTLink sensor taken from MQTT Explorer. You can see FullScreen False\True here, and all the values are also useful, since they can be used for various tasks. For example, so tha

[2022-06-16 23:46] DivanX10 commented on #87
I have created sensors that work by keywords. We enter the keywords into the auxiliary element text and from such an object we have a reconciliation with the Active Window Sensor. If there are words in the sensor, it will be on, if there is no such word, it will be off. Keywords are indicated by | . This will allow you not to create a bunch of sensors with different processes in the HASS.Agent pro

[2022-06-17 07:27] LAB02-Admin commented on #87
Wow, I love this, really smart! Impressive, good work, thank you for sharing :) I'll add it to the documentation

[2022-06-17 08:19] LAB02-Admin commented on #88
Hi @DivanX10,

Thank you for all the info! You've really built an impressive setup ❤️

This request is on the todo list, it'll be implemented in the next version: [[hassagent-92](https://lab02research.youtrack.cloud/issue/hassagent-92)]

To see what I'm working on and what's planned, you can check the issue tracker: [https://lab02research.youtrack.cloud/](https://lab02research.youtrack.cloud/)

On

[2022-06-17 08:19] #88 closed

[2022-06-17 10:27] LAB02-Admin commented on #46
Hopefully you got that working!

At this point there's not much more I can do, so I'm closing this ticket. If librehardwaremonitor release a new version of their library, I'll let you know here so you can test it :)

[2022-06-17 10:27] #46 closed

[2022-06-17 12:57] LAB02-Admin commented on #82
Can you please show me the exact tls configuration of the working broker, ie. what certificates have you configured where? Perhaps a screenshot of the entire config.

Thanks!

[2022-06-17 13:15] DeerMaximum commented on #82
Here is the config:
[code]

The functioning broker is this one: [Link](https://mqtt-explorer.com/)

[2022-06-17 14:04] LAB02-Admin commented on #82
Well I can't for the life of me get it working with my staging setup, but that one's pretty messed up config-wise anyway.

I've made some changes in the mqtt connector, that should allow for self-signed certs when `allow untrusted certificates` is checked.

Could you please follow these steps:

- Completely close HASS.Agent
- Download the test version: https://shares.lab02-research.org/tests/82/ha

[2022-06-17 15:18] DeerMaximum commented on #82
With the test version it works if `allow untrusted certificates` is enabled. When disabled the same error still occurs.

[2022-06-17 15:54] LAB02-Admin commented on #82
Ok, glad it's working. I presume the cert is self-signed, seeing as how you're using `homeassistant.local` as the host, so it won't be a trusted certificate. You could locally import the CA cert as a root authority to have it trusted I guess.

Closing this, but feel free to reopen if you think it should be implemented differently.

[2022-06-17 18:54] LAB02-Admin commented on #79
Hey @Otanar1,

I've been trying a few options, but the requirement of the latest Windows SDK prevents HASS.Agent from starting. I've installed the SDK on W7 (as a 'why not' attempt), but didn't help.

So I'm sorry, but it looks like 2022.11.4 is the last version that's supported on Windows 7 :(

Closing this now, if you ever come across a potential solution let me know and I'll test it.

For the r

[2022-06-17 18:54] #79 closed

[2022-06-17 18:55] LAB02-Admin commented on #80
Closing this as W10 1809 isn't supported. Hopefully you can use the manual installation!

If there's anything else I can help with, let me know

[2022-06-17 18:55] #80 closed

[2022-06-18 11:28] DeerMaximum commented on #82
I have imported the CA certificate into Windows and also imported it in the agent and in the other broker as root certificate. The certificate is validated and recognized in the other broker, but not in the agent.

[2022-06-18 17:48] Bodge-IT opened #89 "Bug: Sensor timestamp doesn't match host time"
Please make sure your bug isn't already listed on HASS.Agent's issue tracker:

https://lab02research.youtrack.cloud/

There's a list of open bugs & features on the right. On the left you can see what's being worked on, what's planned and what's ready for the next release.

If you're not sure, don't worry, just go ahead and we'll discuss :)

----

**Describe the bug**
Sensor timestamp is 1 hour beh

[2022-06-19 17:41] DivanX10 commented on #86
Figured out how to implement the adjustment of screen brightness through HassAgent. We create a team and choose anything, since it doesn't matter, but the color suits us

![image](https://user-images.githubusercontent.com/64090632/174493496-4b3bc583-46ec-40cf-bcdd-57aec22d09a8.png)

We create a light object using [mqtt light](https://www.home-assistant.io/integrations/light.mqtt) and prescribe as

[2022-06-19 21:09] Otanar1 commented on #79
Hello @LAB02-Admin

I see, I knew that one day I would have to migrate to a newer windows, is that 7 still works so well 😢
Next week I'll test a few more things, any news I'll let you know.
The notifications don't work here either, I'll install Hass.agent on the other PC I have here with windows 10 and test if the problem is with windows 7 or something else on my network.
Thank you for the feedbac

[2022-06-22 07:15] LAB02-Admin commented on #86
Oh wow you are on fire! This is really great stuff @DivanX10, thank you for helping me and the community ❤️

[2022-06-22 07:58] #86 closed

[2022-06-22 07:58] LAB02-Admin commented on #87
Added this one as well: https://hassagent.readthedocs.io/en/latest/examples/activewindowsensor-multiple-processes/

❤️

[2022-06-22 08:16] LAB02-Admin commented on #89
Hi @Bodge-IT,

That's because the time is shown as an UTC value:

![image](https://user-images.githubusercontent.com/81011038/174979120-459481b1-e54a-4fbc-9ec1-f2dc763d622d.png)

The column is getting cut off for you though, you could manually widen it to show. The reason is that HA requires a certain timestamp format to make sure there are no conversion faults.

Just a fyi: Windows 7 isn't suppor

[2022-06-22 08:16] #89 closed

[2022-06-22 13:55] DivanX10 commented on #87
Я не много улучшил этот вариант, так как столкнулся с ложным срабатыванием сенсора для игр при просмотре YouTube. На YouTube ключевые слова могут совпадать с ключевыми словами для игр и тогда при просмотре игры на YouTube сработает сенсор игра. Чтобы этого не произошло, нужно использовать такое вариант

I have slightly improved this option, as I encountered a false trigger of the sensor for games

[2022-06-22 15:47] DivanX10 commented on #87
I think that the documentation on the operation of sensors with keywords needs to be finalized. I wrote a post and wrote the reason

https://community.home-assistant.io/t/hass-agent-windows-client-to-receive-notifications-use-commands-sensors-quick-actions-and-more/369094/203?u=divanx10

[2022-06-23 06:47] LAB02-Admin commented on #87
Added a link to the post: https://hassagent.readthedocs.io/en/latest/examples/activewindowsensor-multiple-processes/

Now users can choose between the 'basic' and 'advanced' version. Thanks @DivanX10 ❤️

[2022-06-23 12:29] JvdMaat opened #90 "Bug: Access denied listening on port 5115"
I am not an Administrator on my laptop, and previously HASS.Agent worked fine, however after running the latest update (2212.0.7.0 according to the installer. 2022.12.0 in the app), I now get these errors in the log:
2022-06-22 08:31:04.939 -04:00 [INF] [MQTT] Initial registration completed
2022-06-22 08:31:05.700 -04:00 [FTL] An unexpected error occurred when attempting to start the server
System

[2022-06-23 13:05] currydani opened #91 "Tray Icon not opening on other virtual Desktops"
I am using the Winows virtual Desktops (on the bottom if you press win+tab), and i noticed that you can only use the right click on the tray icon to show the webview on one single virtual Desktop. If you switch to a different one than the one you started the Agent, it won't display anything. Is this a bug or just something that can't be changed?

[2022-06-23 14:10] LAB02-Admin commented on #91
I don't use virtual desktops, but I think that's because the webview form is already tied to one desktop.

You could try disabling `keep page loaded in the background`, so it loads a new one every time you right-click.

[2022-06-23 15:31] LAB02-Admin commented on #90
That's odd, I'll look into it and let you know

[2022-06-23 23:33] jackyaz opened #92 "Bug: HA floods 'Platform mqtt does not generate unique ID' notifications"
My HA logs are being flooded with these messages from HASS Agent

Platform mqtt does not generate unique IDs. ID 0e0b0852-8b0b-437a-90da-064813858d6a already exists - ignoring sensor.jackyaz_hulk_memoryusage

Have I misconfigured something?

[2022-06-24 00:38] VITCHEPF opened #93 "Bug:"
**Describe the bug**

After updating to version 2022.12.0 the sensors and commands in HA appear as unavailable.

The current version of HA:
1) Home Assistant Core 2022.6.7
2) Home Assistant Supervisor 2022.06.0
3) Home Assistant OS 8.2

In the HASS.Agent_20220623 Log File the message error that appear is:

2022-06-23 21:18:44.662 -03:00 [FTL] [HASS_API] Error while fetching HA config: Cannot acces

[2022-06-24 06:51] LAB02-Admin commented on #92
Hi @jackyaz,

That could be because your sensors are published under another devicename that what they initially registered under. That can happen when your devicename changes, and the old one doesn't get properly cleaned.

You can use the `Home Assistant` part of the clean slate docs:

https://hassagent.readthedocs.io/en/latest/clean-slate/#home-assistant

The neatest way is to close HASS.Agent,

[2022-06-24 06:57] LAB02-Admin commented on #93
Hi @VITCHEPF,

It could be that the new version 'cleaned' your devicename; it removes non-standard characters that HA might have a problem with (even though DESKTOP_VPF should be fine).

Can you please go to `Configuration` in HASS.Agent and check what's under `device name`:

![image](https://user-images.githubusercontent.com/81011038/175479867-8a8ad409-0444-498b-ae7a-e5e6e757f449.png)

Then check

[2022-06-24 07:53] LAB02-Admin commented on #90
Could you please run:

`netsh http delete urlacl url=http://+:5115/`

It should say: `URL reservation successfully deleted`

Afterwards run yours again:

`netsh http add urlacl url=http://+:5115/ user="DOMAIN\USER"`

Which should then say: `URL reservation successfully added`

And afterwards, after restarting HASS.Agent, it should work.

I'll change the reservation to allow for all users, but I ha

[2022-06-24 12:12] currydani commented on #91
That actually did the trick, thank you!

[2022-06-24 12:12] #91 closed

[2022-06-24 13:34] JvdMaat commented on #90
Worked like a charm.

I'm guessing this is because I accidentally installed it in the AdminUser AppData, and it added the URL reservation for the AdminUser, and then upon uninstall that did not get removed? (So there was a URL reservation for DOMAIN\ADMINUSER, which prevented me from adding it as DOMAIN\USER)

[2022-06-24 13:54] LAB02-Admin commented on #90
That's exactly right :)

I have the fix ready for the next beta - it'll now reserve the port for any user, so hopefully it won't be a problem for you anymore in the coming versions.

[2022-06-24 17:50] nferch commented on #90
I seem to be having a similar problem, I get the "Error trying to bind the API to port 5115" error and this in the log:

[code]

I've checked via netstat and Process Explorer that nothing else is using port 5115.

It doesn't appear that the automatic port reservation is working, and even when I do it manually with `netsh http add urlacl url=http://+:5115/ user=Everyone` I get the same error.

[2022-06-24 19:15] VITCHEPF commented on #93
Hi, now it's working!

I deleted the HASS DEVICE in Home Assistant and also the orphan entities.
After restarting HASS.AGENT all Sensors and Commands returned to work again.

[2022-06-24 20:56] LAB02-Admin commented on #90
Hey @nferch,

What Windows version are you using?

Perhaps try rebooting, then delete the rule and add it afterwards (from an elevated cmd prompt).

[2022-06-24 21:46] jackyaz commented on #92
This worked, thanks!

[2022-06-24 21:46] #92 closed

[2022-06-25 15:25] tunisiano187 opened #94 "Bug: WMI query not sent to MQTT"
**Describe the bug**
I'm using WMI query
`SELECT * FROM Win32_PrintJob`
But since the last update, it take a very long time if i click the test button and results aren't sent to the mqtt broker.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a local sensor for the query
2. Click on test

**Expected behavior**
Result quicker and sent to mqtt

**Screenshots**
![image](https://user-imag

[2022-06-25 21:46] nferch commented on #90
@LAB02-Admin Thanks, that did the trick.

Am using Windows 10.0.19043.1766

[2022-06-25 23:38] sdwilsh opened #95 "Bug: satellite service stops after short period"
The satellite service only stays up for a short time before it goes away.  Unfortunately, the logs are not very helpful, as they just show this:
[code]

I'm not sure what I can provide you with to help figure out what is going on, but I suspect more logging needs to be added to figure this out.

**Expected behavior**
Satellite service continues to run.

**Misc info (please complete the following i

[2022-06-25 23:41] sdwilsh opened #96 "Feature: make logs to satellite service easier to get to when there's an issue"
**Is your feature request related to a problem? Please describe.**
It took me a while to locate the satellite service logs to actually file an issue (#95).

**Describe the solution you'd like**
I'd love for this dialog to have a link to the logs instead of saying to look at them with no indication of where they might be.
![image](https://user-images.githubusercontent.com/656602/175792412-01544c2b-

[2022-06-26 00:14] sdwilsh opened #97 "Feature: sensor for audio playback device"
**Is your feature request related to a problem? Please describe.**
My end goal is something like [SoundSwitch](https://github.com/Belphemur/SoundSwitch), but instead of my manually having to change my audio devices, I want Home Assistant, via HASS.Agent, to do that for me.  In some contexts, I might want to use my wireless headset for audio playback and recording, but other times I might want to u

[2022-06-26 08:07] LAB02-Admin commented on #90
Great :)

[2022-06-26 08:07] #90 closed

[2022-06-26 08:17] LAB02-Admin commented on #97
Hi @sdwilsh,

There's already a sensor to detect the current audio playback device; the `audio` multivalue-sensor. This is its description:

[code]

For instance, it'll create a sensor `sensor.your_device_audio_default_device` with the name of the default audio device. You'll also get `sensor.your_device_audio_default_device_state` with its state, and `sensor.your_device_audio_audio_sessions` with

[2022-06-26 08:17] #97 closed

[2022-06-26 08:20] LAB02-Admin commented on #96
It's mentioned here in the screen you posted:

![image](https://user-images.githubusercontent.com/81011038/175805848-7d33ead7-a34c-455b-b2fd-cc6dcea7d008.png)

But I guess I could just add the button there too, will do.

[[hassagent-110](https://lab02research.youtrack.cloud/issue/hassagent-110)]

I'm closing this ticket to keep all pending tickets centralised and the github list clean, but I'll po

[2022-06-26 08:20] #96 closed

[2022-06-26 08:20] LAB02-Admin commented on #95
What sensors d'you have configured for the satellite service?

[2022-06-26 08:23] LAB02-Admin commented on #95
It's already possible to enable extended logging, but currently requires a few steps. First, enable it in HASS.Agent itself:

![image](https://user-images.githubusercontent.com/81011038/175805971-c182d2db-803a-4ba7-98d6-0dd4bb274a8b.png)

Then stop the service if it's running:

![image](https://user-images.githubusercontent.com/81011038/175805984-4a08f434-66d8-4162-a323-971de551d67d.png)

Lastly,

[2022-06-26 08:31] LAB02-Admin commented on #94
Hi @tunisiano187,

When I enter `SELECT * FROM Win32_PrintJob` and hit `test wmi query`, I can an instant (empty) result. Can you please try rebooting and run the test again? Might be that your print spooler is bugged somehow.

About the result being sent, you've set the counter to 60 seconds, so it takes some time:

![image](https://user-images.githubusercontent.com/81011038/175806200-9cd46707-e4

[2022-06-26 10:30] LAB02-Admin commented on #38
Fixed in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta1

[2022-06-26 10:30] #38 closed

[2022-06-26 10:31] LAB02-Admin commented on #68
Fixed in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta1

[2022-06-26 10:31] #68 closed

[2022-06-26 10:32] LAB02-Admin commented on #65
The latest release includes this as well:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.12.0

I'm closing this ticket for now, but whenever you find time to test and want it improved, please reopen and let me know :)

[2022-06-26 10:32] #65 closed

[2022-06-26 21:29] sdwilsh commented on #95
It wasn't clear that changing the logging detail of the agent would update the service too.  It might be worth adding a note there.

I only have two right now, but I did have two others that I created just before these issues started up.  I created two different network ones for specific networks I wanted to have.

[code]

The extended logs gave something a little more interesting:
[code]
I reinst

[2022-06-26 21:48] sdwilsh commented on #95
Okay, I think I may have tracked down part of what might have caused this.  I've created two network sensors:
![image](https://user-images.githubusercontent.com/656602/175834805-5ab1c7ab-4b8f-417a-b8cf-84bd8d71c9e2.png)
![image](https://user-images.githubusercontent.com/656602/175834823-05094bbd-f38b-4c79-b4af-1203ee6934d5.png)

Full list of sensors in the UX:
![image](https://user-images.githubus

[2022-06-27 07:02] LAB02-Admin commented on #95
You've (possibly) tracked two bugs here!

The first one might be related to this: [#46]. It's something out of my control; some graphic cards under certain configurations can cause a hard crash of the hardware libray I'm using, taking the service down with it as well. There's not much I can do about that, I've created a ticket with the devs but nothing yet. If that's the case, you can circumvent i

[2022-06-27 22:27] gorbunovav opened #98 "Feature: Track primary display change"
**Is your feature request related to a problem? Please describe.**
The primary display change is not tracked, so all windows appear on the display, which was primary at the moment of HASS.Agent start.

**Describe the solution you'd like**
Detect primary display right before showing a new dialog window (e.g. after quick action shortcut or tray icon click) and display it on the current primary displ

[2022-06-27 22:51] gorbunovav opened #99 "Bug: Fix/improve DPI handling"
**Describe the bug**
Despite `HASS.Agent` app reporting that it is `Per-monitor DPI Aware` the DPI processing is not correct.
It seems that only the main window looks ok, all other windows have elements sizing issues.

Current workaround is to override DPI settings for the `HASS.Agent` executable with the "System (Enhanced)" value (which disables DPI handling by the application).

Possible solutio

[2022-06-28 07:00] LAB02-Admin commented on #99
I've created a ticket: [[hassagent-112](https://lab02research.youtrack.cloud/issue/hassagent-112)]

I'm closing this ticket, not because I'm not doing it, but to keep the GitHub list tidy and all my todo's in one place. I'll report back here when I've fixed this!

[2022-06-28 07:02] LAB02-Admin commented on #98
Good idea, I'll make that configurable. Thanks!

[2022-06-28 07:02] LAB02-Admin commented on #98
I've created a ticket: [[hassagent-113](https://lab02research.youtrack.cloud/issue/hassagent-113)]

I'm also closing this ticket, not because I'm not doing it, but to keep the GitHub list tidy and all my todo's in one place. I'll report back here when I've fixed this!

[2022-06-28 09:30] VITCHEPF opened #100 "Feature:"
Questions/request: Would a command to do:

1)Turn the Display ON/OFF?
2) Wake Up the PC whe sleeping?
3) Make a Screen Shot of the active screen?

Would a sensor to:

1) Memory Used MB
2) Memory Free MB

I'm migrating from Iotlink to Hass Agent, but I didn't find these similar commands in Hass Agent.

Thanks in advance

[2022-06-28 10:25] gorbunovav commented on #99
@LAB02-Admin what about disabling the `DpiAwareness` flag for the app for now?
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/winforms/

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/winforms/windows-forms-add-configuration-element (check the `DpiAwareness` key).

Windows is able to handle the app resizing ok, as far as I can see:
<img w

[2022-06-28 11:40] LAB02-Admin commented on #100
Commands:

1) There is a command for that on my to-do list ([hassagent-11](https://lab02research.youtrack.cloud/issue/hassagent-11)), but for now you can use a 'PowershellCommand' with the following value:

[code]

2) That could be done with a WoL command I think:

https://hassagent.readthedocs.io/en/latest/sensor-command-automation-and-script-examples/#switch-wake-on-lan

3) That's on the todo li

[2022-06-28 11:42] LAB02-Admin commented on #99
Yea that was my initial workaround, but then the new webview doesn't render correctly [#62] :(

[2022-06-28 12:29] gorbunovav commented on #99
@LAB02-Admin with this workaround the webview sizing is correct for me 🤔So not sure what was causing issues in #62

[2022-06-28 12:31] LAB02-Admin commented on #99
Oh, interesting! I'll look into it and do some more tests, thanks :)

[2022-06-28 12:37] sdwilsh commented on #95
It looks like the beta has fixed the issue for me with the network sensor :)

Not having issues with the service crashing either.

[2022-06-28 12:47] LAB02-Admin commented on #95
Awesome! Thanks for letting me know

[2022-06-28 12:47] #95 closed

[2022-06-29 04:22] minooch opened #101 "Feature: DirectX 12 Support"
Hi,

Would it be possible to make ActiveWindowSensor support DirectX 12? Currently it shows a status of busy when running a DirectX 12 game.

Cheers

[2022-06-29 05:35] Majumafoo opened #102 "Feature: Choose where Webview appears"
**Request Details**
I would like to choose where on my desktop the WebView opens.
As things are, it opens bottom right corner of my primary display. I hope to select the bottom right corner of my secondary display, or wherever else someone could want it.

**Proposed Solution**
An option in the menu to allow a user to select a display and corner/location seems like a reasonable UI design.

**Other

[2022-06-29 06:14] Majumafoo opened #103 "Bug: WebView Preview does not update preview size when "keep page loaded" option is selected"
**The Bug**
WebView Preview does not load when "keep page loaded in background" option is selected.

**To Reproduce**
*Intended Behaviour*
1. Open Configuration -> Tray Icon
2. Input relevant URL
3. Select 'show webview'
4. **Deselect** 'keep page loaded in the background'
5. Change size of WebView
6. Press 'show preview'
7. Observe change in preview.
---
*Unintended Behaviour* -see screenshot of

[2022-06-29 07:29] LAB02-Admin commented on #101
Interesting, no idea. I'll do some tests and let you know :)

[2022-06-29 07:34] LAB02-Admin commented on #102
Hi @Majumafoo,

There's already a request to have it remember its location (so you can drag it around): [hassagent-97](https://lab02research.youtrack.cloud/issue/hassagent-97). But the UI idea is a nice touch, I've added it to the ticket!

For a quick workaround, you can make WebView command. These already support setting it startup location (by dragging the screen). Then go to Quick Actions, and

[2022-06-29 07:34] LAB02-Admin commented on #102
I'm closing this ticket, not because I'm not doing it, but to keep the GitHub list tidy and all my todo's in one place. I'll report back here when I've fixed this!

[2022-06-29 07:34] #102 closed

[2022-06-29 07:36] LAB02-Admin commented on #103
Hey @Majumafoo,

I think this is a problem with the preview button. Can you please confirm this by resizing the webview, then restarting HASS.Agent and see if it correctly remembered the position? After the restart, the preview button should work as well for the new position.

[2022-06-29 14:14] Majumafoo commented on #102
Thanks for the reply and insight!

The quick command suggestion works, so that's nice -thank you
Excited for the default starting position.

Thanks again :)

[2022-06-30 06:55] LAB02-Admin commented on #103
And you are right :) Will fix, thanks for confirming

[2022-06-30 20:27] bfish2 opened #104 "Lock PC Command not working"
Lock PC command (as an entity) no longer works.  It previously did work as advertised at some point.  I'm not sure when it stopped working,

[2022-07-02 12:48] LAB02-Admin commented on #104
Hey @bfish2,

Just tested and it's still working here, so not sure what's going on. Could you try removing the command, then click 'store and activate commands' (so it gets pushed to HA). Afterwards recreate it, using the same name, and again click 'store and activate commands'.

Let me know if that helps, otherwise we'll keep debugging

[2022-07-02 14:43] bfish2 commented on #104
Thanks!  Just left this morning for vacation.  I'll do this when I get back
home on a week and update you then.  Happy 4th!

On Sat, Jul 2, 2022, 8:48 AM LAB02 Administrator ***@***.***>
wrote:

[2022-07-05 20:19] robinsmidsrod opened #105 "Feature: Support NATS.io-based MQTT server without QoS=2 support"
**Is your feature request related to a problem? Please describe.**
I'm using NATS.io for MQTT server, and it doesn't support QoS=2, which causes disconnections all the time.

**Describe the solution you'd like**
Avoid using QoS=2, or allow the QoS max level to be set.

[2022-07-05 20:27] ASchneiderBR opened #106 "Feature: Connect to the host HA when not in local network (using a notebook outside your local network)"
Hello! Thanks for creating this great app, this is just amazing work!

I was wondering if it would be possible to type both a local IP and remote IP address and have Hass Agent know when it is not connected to the local network and use the secondary IP to connect to the host HA?

This would be great when I use notebook outside my local network and could still connect to the HA instance outside my

[2022-07-05 20:31] ASchneiderBR opened #107 "Feature: Screenshot from monitor as a regular HA camera"
Hello!

Another great feature is to have the agent grabbing screenshots from a specific time interval and show as regular camera domain in HA. This would be great to see what the computer is showing at the moment. Those PNG/JPG files could be stored or cached if necessary.

This could also be used for notifications and so on.

Thanks!

[2022-07-05 22:27] DennisGaida opened #108 "Feature: WebcamProcessSensor"
**Is your feature request related to a problem? Please describe.**
Windows Hello enabled cameras are also registered as webcams in Windows, meaning whenever you authenticate to your Windows machine using Windows Hello camera (infrared), all the automations based on webcam activity are triggered.

**Describe the solution you'd like**
When the webcam is active I want to know what process is using it

[2022-07-05 23:58] milandzuris opened #109 "Feature: minimize all windows"
Hi i have question how to minimize all windows?

[2022-07-06 07:16] LAB02-Admin commented on #105
Good point @robinsmidsrod, will do!

Created a ticket for this request: [hassagent-118](https://lab02research.youtrack.cloud/issue/hassagent-118).
I'm closing this GitHub ticket, not because I'm not doing it, but to keep everything centralised. I'll post back here when it's implemented :)

[2022-07-06 07:16] #105 closed

[2022-07-06 07:18] LAB02-Admin commented on #106
That's a good idea, why not :)

Created a ticket for this request: [hassagent-119](https://lab02research.youtrack.cloud/issue/hassagent-119).
I'm closing this GitHub ticket, not because I'm not doing it, but to keep everything centralised. I'll post back here when it's implemented :)

[2022-07-06 07:18] #106 closed

[2022-07-06 07:20] #107 closed

[2022-07-06 07:24] LAB02-Admin commented on #108
Hey @DennisGaida, good point! That'll really increase usability :)

Created a ticket for this request: [hassagent-120](https://lab02research.youtrack.cloud/issue/hassagent-120).
I'm closing this GitHub ticket, not because I'm not doing it, but to keep everything centralised. I'll post back here when it's implemented :)

[2022-07-06 07:24] #108 closed

[2022-07-06 07:28] LAB02-Admin commented on #109
Hey @milandzuris, you can create a Powershell command, and add this as the script:

[code]

But this is also a good idea for a new command, so I've created a ticket for it: [hassagent-121](https://lab02research.youtrack.cloud/issue/hassagent-121). For now you can use the script above.

I'm closing this GitHub ticket, not because I'm not doing it, but to keep everything centralised. I'll post back

[2022-07-06 07:28] #109 closed

[2022-07-06 07:34] LAB02-Admin commented on #94
Closing this for now, if you need more help feel free to reopen!

[2022-07-06 07:34] #94 closed

[2022-07-06 07:59] nthulke opened #110 "Bug: GPU Sensors causing Agent to crash"
If I have GpuLoad or GpuTemperature activated as sensors the Agent crashes.

Checked the agent logs which are here:
[[2022-07-06] HASS.Agent_20220706.log](https://github.com/LAB02-Research/HASS.Agent/files/9052813/2022-07-06.HASS.Agent_20220706.log)

The GPU is a AMD 6800 XT - Driver version 22.4.1

#edit - Checked the MQTT logs and it never recived GPU info

[2022-07-06 08:49] LAB02-Admin commented on #110
Hey @nthulke, yep that happen sometimes, that's because of the library I use (LibreHardwareMonitor). Unfortunately there's not much I can do about it, and haven't yet received a response from the devs.

What you can do, is just run the [LibreHardwareMonitor](https://github.com/LibreHardwareMonitor/LibreHardwareMonitor) tool, have it start on boot, and then create the sensors through WMI. You can f

[2022-07-06 13:06] milandzuris commented on #109
Hi thx for help, I made the script and it doesn't work.

![image](https://user-images.githubusercontent.com/42905545/177557010-9e0995bc-38a2-4e00-8c25-b15c14f81aeb.png)
![image](https://user-images.githubusercontent.com/42905545/177557077-df9d926b-daaa-4b4d-a993-28db7804f430.png)
![image](https://user-images.githubusercontent.com/42905545/177557116-71aa61a9-d370-4291-be7a-19afef68f781.png)

[2022-07-06 13:32] milandzuris commented on #109
oooou sorry my bad thx for help

[2022-07-06 13:46] VITCHEPF commented on #100
Thanks for your prompt support!

[2022-07-06 20:19] milandzuris opened #111 "New Features"
Minimize all windows, Turn off Screen - Black Screen, Maximize all windows, Login to PC with hass agent after lock pc.

[2022-07-07 11:46] LAB02-Admin commented on #111
You can use this script for a Powershell command:

[code]

You can use this script for a Powershell command:

[code]

You can use this script for a Powershell command:

[code]

That's not possible, Windows prohibits applications from messing with the login screen.

[2022-07-07 11:46] #111 closed

[2022-07-07 14:29] AlessandroTischer opened #112 "Bug: WebView doesn't load"
**Describe the bug**
After first setup, I can only see the webview when I click on show preview in the configuration page. Clicking on the tray icon has no effect.
Sorry for the lack of documentation, but I don't know what to report

**Misc info:**
 - Windows build:
![image](https://user-images.githubusercontent.com/23379317/177797645-071c66b4-7725-40c4-b1d7-1482985c2492.png)

 - Windows' UI langu

[2022-07-07 14:30] #112 closed

[2022-07-07 17:57] Stuke00 opened #113 "Bug: HASS.Agent crashes under Server 2016"
Updated to 2022.12, and whenever I start up HASS.Agent I get a message saying it has stopped working and crashes.

[code]

[code]

[2022-07-07 20:32] LAB02-Admin commented on #113
Can you run `winver.exe` and post a screenshot of its info

[2022-07-08 06:48] LAB02-Admin commented on #113
Hm, looks like it's fully up-to-date, so it *should* work since Server 2016 uses the same code base as Windows 10. Give me some time to setup a Server 2016 environment to test and see if I can get it working. In the meantime, you can uninstall the current version (no settings will get lost) and temporarily install the previous version.

[2022-07-08 12:25] d2inco opened #114 "Using computer away from "home" net requires exposing computer to local traffic, and requires external firewall change"
I frequently travel with my laptop away from home, into either a "hostile" area (coffee shop), or "friendly" area (parents' house) where I can't manage the external firewall, or, the local may be NAT'd so that there is no way an inbound connection from the outside (my HA install at my own house) can make it onto the local network to access port 5115.

Any thought in reversing the way the HA connec

[2022-07-08 13:02] Draghmar opened #115 "Misc: Can I use this to monitor lux with HA and launch program that will change monitor brightness?"
Hi
Just wanted to make sure if what I'd like to achieve is possible before diving to deep with HASS.Agent. ;)
I've noticed that there's a way to launch PC program on some HA action by using Commands. So now I wonder would it be possible to use some lux sensor as a trigger that would launch/change the values of brightness and contrast of monitor? There's a app:
https://github.com/chrismah/ClickMoni

[2022-07-08 13:18] #114 closed

[2022-07-08 15:19] Lucho99se opened #116 "Agent Closes"
The windows agent closes automatically, once it connects all the services

[2022-07-08 15:24] LAB02-Admin commented on #116
I can't help you with this little information. At least provide some logs, ideally with extended logging enabled.

Create a new ticket using the Bug report template:

![image](https://user-images.githubusercontent.com/81011038/178022619-dd6c007d-a04e-4d73-85b4-72052cca5f0f.png)

[2022-07-08 15:24] #116 closed

[2022-07-08 16:43] #115 closed

[2022-07-08 17:39] JvdMaat opened #117 "Satellite Commands default to switch"
When creating a button in the Satellite Commands, the GUI says it's a button (ie, a Sleep Command). But when clicking save, it shows up as a Switch in MQTT.
Closing the Command window and re-opening then clicking Modify on the Command shows it as a switch.
Repeatedly fixing it does not solve the problem.

The regular user HASS.Agent Commands work fine as buttons.

[2022-07-08 17:41] LAB02-Admin commented on #117
Hey @JvdMaat,

That's even the case with the [latest beta](https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta1)?

[2022-07-08 18:06] #117 closed

[2022-07-08 23:50] RafaelEstevamReis commented on #113
MediaManager is a new adition (seems to be added with commit [b348431](https://github.com/LAB02-Research/HASS.Agent/commit/b3484318c6d6f20b168776454d5b73181760ed05) in this release

As MediaMonitor() is started as a "free" Task, any exceptions crash the entire application
https://github.com/LAB02-Research/HASS.Agent/blob/fd496dd0643fcec0b23fd1ed23a85d45b29699eb/src/HASS.Agent/Media/MediaManager.cs

[2022-07-09 06:05] danielbrunt57 opened #118 "Feature: turn monitors off/on"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when my [IoTLink service](https://community.home-assistant.io/t/iot-link-windows-management-using-mqtt/120856) that I've been using for this feature for a while just stops working and has to be restarted!

**Describe the solution you'd like**
An easy and reliable way to issue "turn monitor off" and "turn monit

[2022-07-09 06:39] ipodmusicman opened #119 "Bug: HA rejects devicenames with a whitespace"
When I installed HASSAgent, I set my device name to a single word (Desktop).  After setting up my sensors and commands, I could see them appear in Home Assistant.  I then decided to rename my device name to contain two words separated by a space (Desktop computer).  My device with its entities did not re-appear in Home Assistant.  There was no indication as to what was wrong.

Since it worked with

[2022-07-09 08:04] LAB02-Admin commented on #119
Hey @ipodmusicman,

Thanks for taking the time to report this! I did add those devicename 'sanitation' checks, but I forgot the whitespace and that has been causing a lot of trouble :( I'll definitely add it in the next beta.

Glad you got it sorted out for yourself!

[2022-07-09 09:47] LAB02-Admin commented on #118
Hey @danielbrunt57,

There's an open request for those commands: [hassagent-11](https://lab02research.youtrack.cloud/issue/hassagent-11). There has been a lot of request for this specifically lately, so I'll add it to the next beta :)

[2022-07-09 15:38] danielbrunt57 commented on #118
Much appreciated. Thanks!

[2022-07-09 16:39] ShayGus opened #120 "Bug:"
Sleep command sends my pc into a deep sleep / hibernate instead of sleep
When sending pc to sleep manually, it goes into a regular sleep

**To Reproduce**
Send sleep command to computer from home assistant

**Expected behavior**
The computer goes into sleep mode

**Misc info (please complete the following information):**
 - Windows 11 Build 25151.1010
 - Windows' UI language: English
 - HASS.Agent

[2022-07-09 17:01] LAB02-Admin commented on #120
Did you read this part of the description:

![image](https://user-images.githubusercontent.com/81011038/178115679-85d00557-497f-4957-85d7-003f7b9576a0.png)

[2022-07-10 23:16] bfish2 commented on #104
Hello,

I did what you describe below, but no change.

Then, I deleted the existing entry and created a new entry using the name that HASS offered.  That now works as expected

So, I’m OK at present.

Thanks,

Brad

From: LAB02 Administrator ***@***.***>
Sent: Saturday, July 2, 2022 8:48 AM
To: LAB02-Research/HASS.Agent ***@***.***>
Cc: bfish2 ***@***.***>; Mention ***@***.***>
Subject: Re: [LAB02

[2022-07-12 08:11] TeDeVPrime opened #121 "Feature: Actionable notifications"
I don't see it here but can we please! have actions in the notifications?

i have set my doorbell camera to send me a notification when someone rings. i want to be able to open the door from the notification with a button or two.

yes i can do this now with a macro but this is not a nice solution.

just found out the list of the features. i saw this request in there. hope we see it soon.
thanks fo

[2022-07-14 08:49] LAB02-Admin commented on #104
Alright, glad it's working :)

[2022-07-14 08:49] #104 closed

[2022-07-15 14:57] jane-t commented on #118
If it's any help you can do that with powershell scripts which you can call from Hass now, but adding them as button sensors.
[displayon.txt](https://github.com/LAB02-Research/HASS.Agent/files/9121863/displayon.txt)
[displayoff.txt](https://github.com/LAB02-Research/HASS.Agent/files/9121864/displayoff.txt)

[2022-07-16 00:21] danielbrunt57 commented on #118
Thank you Jane.

displaysoff.txt works fine but displayson.txt is not working for me, even after correcting a syntax error (an open paren is missing):

`
"Add-Type '[DllImport(\"user32.dll\")]public static extern int SendMessage(int hWnd,int hMsg,int wParam,int lParam);' -Name a -Pas)::SendMessage(-1,0x0112,0xF170, -1)"`
`
But should be:
`
" (Add-Type '[DllImport("user32.dll")]public static extern

[2022-07-16 00:43] danielbrunt57 commented on #118
Your suggestion to use buttons + my research into in the issue gave me another solution to turn the monitor back on:

![image](https://user-images.githubusercontent.com/49846893/179327534-6c0537f1-7301-4de5-a6b9-c75955e4b9c5.png)

[2022-07-17 17:07] Eckart0 commented on #113
I have the same Problem with Windows Server 2012R2 (Version 6.3, Build 9600, NET Framework 4.8)
I can install HASS.agent, but can't call the program window to configure it.
Greetings, Eckart

[2022-07-18 13:06] DennisGaida opened #122 "Bug: Set a different default/no default for Hotkey since CTRL+ALT+Q = @"
This is related to this change: https://lab02research.youtrack.cloud/issue/hassagent-25 as well as this line: https://github.com/LAB02-Research/HASS.Agent/blob/26daa35c5398410c6187cdf7edf3c52553aa7ce7/src/HASS.Agent/Controls/Onboarding/Onboarding-7-HotKey.cs#L32

Please disable this default altogether. It clashes with the German keyboard / keyboard language which maps Alt Gr + Q to "@" (which is e

[2022-07-18 13:58] LAB02-Admin commented on #113
I'm currently on vacation, when I get back (end of the week) I'll work on it

[2022-07-18 13:59] LAB02-Admin commented on #122
I'll look into it, thanks for letting me know and the extensive info @DennisGaida

[2022-07-18 15:24] cazador481 opened #123 "Bug: Microphone active sensor is always set to On"
The microphone active sensor is always set to on.

**To Reproduce**
Steps to reproduce the behavior:
Reboot computer
Open HASS agent
Open local sensors
See that microphone active last known state is ON

**Misc info (please complete the following information):**
 - Windows build (ideally screenshot/info of `winver.exe` output):
![image](https://user-images.githubusercontent.com/119880/179545411-b03

[2022-07-18 19:01] tunisiano187 commented on #94
I've made many checks but still the same result...
Maybe this can help ?
![image](https://user-images.githubusercontent.com/6095739/179584488-72bd58ec-bdbc-42d0-bcb2-b7a6cdf1fbdf.png)

[2022-07-19 02:10] it-fryguy opened #124 "Bug: Unable to add CPULoad sensor"
Please make sure your bug isn't already listed on HASS.Agent's issue tracker:

https://lab02research.youtrack.cloud/

There's a list of open bugs & features on the right. On the left you can see what's being worked on, what's planned and what's ready for the next release.

If you're not sure, don't worry, just go ahead and we'll discuss :)

----

**Describe the bug**
I have been able to add sensor

[2022-07-19 15:12] warlordattack opened #125 "[HASS_API] Error while fetching HA config"
Hello i recently changed from docker to vmm home assitant, and changed config in HASS.Agent :
new connexion infos and api token.

Everything works, i have notifications and stats from my PC,
but home assistant api says : connecting and is stuck.

I used :
http://192.168.1.85:8123

and new api token generated on the new server : oT1_nUtFBescoHMGxRZXFEEI7lmijVTDskOeS4h4d3A
no client cert

I tryed ht

[2022-07-19 16:04] ITensEI opened #126 "Bug: Session State showing Unlocked on logon screen after boot"
**Describe the bug**
Session State shows Unlocked on boot before user login.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your PC
2. Click on the power button
3. Wait for login screen
4. Check HA to see Session State = Unlocked
5. Automations fail

**Expected behavior**
Session State is a local sensor. Expected to start on logon when the HASS.Agent process starts not satellite. Shou

[2022-07-19 19:01] ITensEI opened #127 "Bug: State max length is 255 characters."
**Describe the bug**
Audio Sessions sensor is blank and throwing errors due to reaching state character limit.
Shows the JSON as the state if it's within char limit otherwise will show [] as the state.

**To Reproduce**
Steps to reproduce the behavior:
Check the Audio Session sensor.
Check Logs and will see the error

**Expected behavior**
State should represent if there's an active audio session

[2022-07-20 09:28] ezpl commented on #99
Wanted to test this by adding an app-config file in the HASS.Agent directory. Unfortunately it does not seem to work. Might need to be defined in the application itself to be read?

_Hass.Agent.exe.config_
[code]

[2022-07-20 16:22] ITensEI commented on #123
I've noticed this as well. Switching from HASS Workstation Service to this the Mic sensor always stays on.

[2022-07-21 14:34] warlordattack commented on #125
Ok i found what happened :
When you generate Long-Lived Access Tokens in the Home Assistant > user account (bottom of the page),
It diplays token you must copy-paste to the HASS.Agent app settings.

Pay attention :
If you double click token to select it with your mouse, it selects only little part of it, not the entire string !!!!
Then you copy-past this incomplete selected key and it doesn't work

[2022-07-21 14:36] #125 closed

[2022-07-24 08:58] LAB02-Admin commented on #127
Hey @ITensEI,

That's a known limitation, I'm working on attributes integration:

https://lab02research.youtrack.cloud/issue/hassagent-72

[2022-07-24 08:58] #127 closed

[2022-07-24 08:59] LAB02-Admin commented on #126
Do you have FastBoot enabled in Windows?

[2022-07-24 09:00] LAB02-Admin commented on #124
What language is your Windows installation?

[2022-07-24 09:02] ITensEI commented on #126
Yes I do. I've managed to use LastSystemStateChange for a workaround for now. With HASS workstation service I used before it wouldn't load any sensors before the unlock as it didn't run as a service

[2022-07-24 09:02] LAB02-Admin commented on #123
That's caused by an application using the microphone. Open regedit and go to this key:

`HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\microphone`

Check all keys, and the 'NonPackaged' subkeys as well. If any application has a 0 for the `LastUsedTimeStop` value, it's using the microphone. Disable that application and check if the sensor changes.

[2022-07-24 09:05] LAB02-Admin commented on #126
Ok, FastBoot is basically hibernate so that causes unexpected behavior after a reboot. I find that it doesn't really boot noticably faster (ironically), and disable it to prevent stuff like this. But ymmv.

Thanks for the info :)

[2022-07-24 09:05] #126 closed

[2022-07-24 10:58] jocke92 commented on #79
I don't manage to get it working in Windows 7 either. I did download the latest version. Not able to upgrade that computer to 10 sadly. But I do understand that there's no Windows 7 support

[2022-07-24 17:59] it-fryguy commented on #124
My windows installation is in English

[2022-07-25 05:11] TarcisioMenezes opened #128 "Bug: MQTT messages are not sent with retain flag although HASS.agent is set to do so"
**Describe the bug**
Although I have marked the option "retain flag" for MQTT, it seems it doesn't work. Checked with some MQTT clients and I don't see the sensor messages being sent as retained.
I can confirm that If I restart my Home Assistant server, all the sensors from Hass.agent will change to "Unknown" until the MQTT broker gets another updated message. (Occurs for both Hass.agent and Satel

[2022-07-25 11:46] janvanos opened #129 "Feature: Close webview automaticly after x seconds"
Is there a possibility to automaticly close the webview after a number of seconds (parameter)

I use the webview command to display my camera image on motion, so it's on top of all screens
but want to have it automaticly disappear after some time
Is there a command I can use?

[2022-07-25 13:51] jfrux opened #130 "Bug: MQTT just keeps reconnecting. Status goes from "ok" to "connecting" repeatedly"

[2022-07-25 14:08] jfrux commented on #130
So I removed clientid and left it blank and it seems to have stabilized.

[2022-07-27 20:01] cazador481 commented on #123
I had 2 entries in the NonPackaged area, for programs that were not
running.  I deleted the keys, and now the microphone active is set to Off.
Thanks for the help

On Sun, Jul 24, 2022 at 5:02 AM LAB02 Administrator <
***@***.***> wrote:

[2022-07-28 08:39] NCopeman opened #131 "Bug: 'Keep page loaded in the background' impacts all Webviews, processes never close"
If 'Keep page loaded in the background' is checked on the 'Configuration -> Tray Icon' page, any other WebViews that are opened do not correctly close. Instead, they are hidden but still appear in Task manager, as well as the alt-tab/win-tab screens. Each time a WebView command is triggered, a new process is created.

As an aside, a feature request would be the option on a per-command basis to mak

[2022-07-29 19:59] Draghmar opened #132 "Misc: Detecting that the PC is on or off"
Hi
I've made an automation that uses light sensor to update brightness of my screens. It works by monitoring changes to the sensor and sending MQTT to HASS.Agent. The question here is: how to add condition that will prevent sending if the PC is turned off. I mean, it works right now without it but it simply bothers me. :D Also, having that I could trigger initial brightness after the PC turns on.

[2022-07-29 20:20] Eckart0 opened #133 "Feature: hass.agent on Windows Server 2012R2"
It seems to be impossible to install hass.agent on my Windows server. Admittedly: an old version: 2012R2
Microsoft .NET Framework 4.8 I installed, but that didn't help.
hass.agent can be installed without an error message, but then shows no configuration window and cannot be called.

Can this be changed in an upcoming version?

[2022-08-01 12:44] LAB02-Admin commented on #131
Hey @NCopeman

Thanks for letting me know! I'll look into it :)

[2022-08-01 12:45] LAB02-Admin commented on #133
Hey @Eckart0,

*Maybe*, I'll try to optionally disable some non-legacy compatible parts, but no guarantees :)

[2022-08-01 12:45] #123 closed

[2022-08-01 12:46] #130 closed

[2022-08-01 12:47] LAB02-Admin commented on #129
Not yet, but I'll add it, it's a good feature :)

[2022-08-01 12:49] LAB02-Admin commented on #124
Can you try the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/download/2022.13.0-beta1/HASS.Agent.Installer.exe

[2022-08-01 12:51] LAB02-Admin commented on #132
Hey @Draghmar,

Looks cool! You can use a wol or a simple ping sensor to determine the pc's state. The first has an example here:

https://hassagent.readthedocs.io/en/latest/sensor-command-automation-and-script-examples/#switch-wake-on-lan

Take note of the tips beneath it regarding windows firewall, to make sure you can ping the device :)

[2022-08-01 13:25] Draghmar commented on #132
Hm...but both of those are things that HA would have to query for. Isn't there some Local Sensor that could be used this way? Like setting something when HASS.Agent starts and that would sent update to the HA and then when PC is shutting down, which would mean app is closing down, set it to something - don't know if that's even possible for Win app to know...

[2022-08-01 13:29] LAB02-Admin commented on #132
Oh, yea, you can use a LastSystemStateChangeSensor to do exactly that :)

[2022-08-01 13:41] LAB02-Admin commented on #132
Not really besides MS's developer docs. Basically the ConsoleConnect, ConsoleDisconnect, RemoteConnect, RemoteDisconnect, SessionRemoteControl  ones aren't relevant unless you're using remote desktop. ApplicationStarted is triggered when hass.agent (or the satellite service, depending on where you added the sensor) starts.

Logoff, SystemShutdown, Resume, Suspend, SessionLock, SessionLogoff, Sessi

[2022-08-01 14:50] jamescadd commented on #118
Any updates on adding this? I'm also coming over from IOTLink, use case is Windows machine as a kiosk so I want to turn the screen on/off in HA automations (basically when someone walks into or leaves a room).

If you have trouble figuring out the screen on stuff lmk and I can check on the guidance. IOTLink did this with mouse movement APIs which fail to wake the device after the screen is turned

[2022-08-01 15:00] LAB02-Admin commented on #118
Hey @jamescadd,

It's scheduled for the next beta, which will be published in a week or two. Thanks for the heads up!

[2022-08-02 07:22] Misiu opened #134 "Question: Installer"
First of all, thank You for creating such a great tool 💪
Right now I'm looking at the source code and trying to find myself in it.

I have one question about the installer: What tool did you use to create it and how did you integrate it with GitHub Actions (if it is integrated).

[2022-08-02 07:27] LAB02-Admin commented on #134
Cheers :)

You can find some (basic) info here:

https://hassagent.readthedocs.io/en/latest/development/introduction/
https://hassagent.readthedocs.io/en/latest/development/commands/
https://hassagent.readthedocs.io/en/latest/development/sensors/

The installer was created using Advanced Installer, it's not integrated.

[2022-08-02 09:50] Misiu commented on #134
@LAB02-Admin thank you for such a quick reply! I'll look at the docs.
Did you use the freeware version?

[2022-08-02 10:07] LAB02-Admin commented on #134
No, but you can just use zip packages if you want to deploy your modified version, or overwrite a current install. There are no reg changes or anything done by the installer, it just checks dotnet 6, edge runtime and then places hass.agent and the satellite binaries (doesn't even install the service, hass.agent does that).

[2022-08-02 16:29] Draghmar commented on #132
Ok, thanks. For the moment it looks like this thing did the trick! :)
For the record this is the (almost) final automation:
[code]

[2022-08-02 16:30] #132 closed

[2022-08-03 09:41] LAB02-Admin commented on #132
Very nice :)

Thanks for sharing, added to the docs: https://hassagent.readthedocs.io/en/latest/sensor-command-automation-and-script-examples/#automation-change-lcd-brightness-based-on-lux-and-session-state

[2022-08-03 12:25] LAB02-Admin commented on #113
@RafaelEstevamReis suggested workaround is effective, just tested on a W7 environment. Will be rolling out in the next beta.

Thanks!

[2022-08-03 12:27] LAB02-Admin commented on #79
Hey @Otanar1 and @jocke92, thanks to the fix suggested in ticket #113, I have HASS.Agent working under Windows 7 (the mediaplayer functionality will be disabled though).

It'll be in the next beta

[2022-08-03 13:13] #134 closed

[2022-08-03 13:15] LAB02-Admin commented on #133
I've implemented a user suggested fix from #113 which seems to fix it. Will be deployed in the next beta.

Follow that ticket if you want updates :)

[2022-08-03 13:15] #133 closed

[2022-08-03 16:45] Otanar1 commented on #79
Hello @LAB02-Admin

Amazing, I wasn't already happy with the current functioning, expanding it will be phenomenal.
I'm looking forward to the fix.
Thank you for the dedication and congratulations for the excellent work and dedication.

[2022-08-03 17:51] Draghmar commented on #132
I didn't know you'll gonna do this. I'd prepare a commented version :P
[code]

[2022-08-03 18:05] LAB02-Admin commented on #132
Hah, wow, that's awesome! Thanks for taking the time to do that ❤️

It's [updated](https://hassagent.readthedocs.io/en/latest/sensor-command-automation-and-script-examples/) :)

[2022-08-03 20:17] danielbublil opened #135 "Bug: Scroll Lock Key Command"
Hi!
Great software!

**Describe the bug**
A clear and concise description of what the bug is.
its seems that if i want to make a key command with SCROLL LOCK as key the key code always cahnging to diffreant one.

**To Reproduce**
Steps to reproduce the behavior:
1. create new key command.
2. at KeyCode set 0x91.
3. save and activate command.
4. open the newly created command.
5. keycode is no long

[2022-08-03 21:38] LAB02-Admin commented on #135
Hey @danielbublil,

Can you please try it with the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/download/2022.13.0-beta1/HASS.Agent.Installer.exe

It should detect the keycode when you press it, and then correctly store it for you.

[2022-08-04 07:03] danielbublil commented on #135
Hi thanks for the response!

this version is working fine, just the scroll lock led isn't toggle aswell.
which is weird.

[2022-08-05 07:31] Draghmar opened #136 "Bug: Local sensor stops updating when HA was restarted"
**Describe the bug**
I'm using local sensor to track the state of the PC: LastSystemStateChange. I've noticed that when HA restarts for some reason (on update for example), that sensor becomes `unknown` and doesn't come back unless I click button `store and activate sensors`, which probably forces update at that moment. It looks like lost connection sets the `unknown` state but after HA gets back

[2022-08-05 07:55] Draghmar opened #137 "Bug: Updating to 2022.13.0-beta1 breaks MQTT connection"
**Describe the bug**
Wanted to test something on beta branch but I can't because after updating MQTT can't connect. See the logs because that's the only thing I can provide in this case. :P

**Misc info (please complete the following information):**
 - Windows build: Win10 Pro - 21H2, 19044.1865
 - Windows' UI language: PL
 - HASS.Agent version: 2022.13.0-beta1

Please check what's applicable (mul

[2022-08-05 08:02] Draghmar commented on #137
Hm...downgrading to stable didn't help here so the issue may be in a different place. But I have no idea where. It was working right before the update...

[2022-08-05 13:43] Draghmar commented on #137
My investigation took me to router settings, where I *probably* found culprit: I didn't forward MQTT port in firewall so when I wan connecting through VPN with split DNS, it couldn't connect. Not sure why it was working before though. Maybe I changed something...I can't believe it wasn't connected and I simply didn't notice that because I'm more often connected through VPN then not....
Anyway, I'l

[2022-08-05 23:01] Draghmar commented on #137
Ok, after few hours of checking if everything works as it should, I can assume it was DNS thing. Still not sure how it worked before though...

[2022-08-05 23:01] #137 closed

[2022-08-07 06:24] patrickiel opened #138 "Feature: AISO support"
This is relevant for all Audio- Video Content Creators. Currently the Peak Volume is 0 when I play audio over the ASIO Protocol.

Steps to reproduce:
1. install ASIO driver https://www.asio4all.org/
2. install a free DAW https://www.reaper.fm/download.php
3. start reaper and select audio device driver, set Audio system to "ASIO", ASIO driver to "ASIO4ALL v2"
4. drag and drop audio file into reaper

[2022-08-07 09:03] MiguelTVMS opened #139 "Feature: Add support to friendly_name attribute"
Add support to friendly_name attribute to sensor.

**Describe the solution you'd like**
When the user adds upper case and spaces, create the entity id turning everything in lowercase, and convert spaces to underscore "_".
For example, if the user named the device name as Office Desktop convert the entity_id it to `office_desktop` and add the attribute friendly_name as Office Desktop.

The payload

[2022-08-07 09:28] LAB02-Admin commented on #135
Yea scroll lock is difficult to work with, programmatically. You could try using something like [AutoHotKey](https://www.autohotkey.com) and trigger the scripts through hass.agent. I heard good things about it, haven't used it myself yet though.

[2022-08-08 12:59] LAB02-Admin commented on #139
That's a good idea, thanks, will do :)

[2022-08-08 13:21] Draghmar commented on #136
Oh, ok. I thought HASS.Agent has some persistent connection and knows immediately that HA is gone.
So basically I should create automation like this, right?
[code]
Where `button.earth_publishallsensors` was created by HASS.Agent from `PublishAllSensorsCommand` as a button.

[2022-08-08 13:29] LAB02-Admin commented on #136
It actually does know that, and it should already resend the values, but it's unreliable at the moment as you noticed heh.

Yep exactly, maybe add a delay to make sure everything has started:

[code]

But that might not be necessary, needs testing.

[2022-08-08 14:04] Draghmar commented on #136
No problem, I can live with that, knowing now what to look at. ;)

I will leave it without delaying for now and see if that works - as far I know `start` trigger should happen after everything has...well, started. If not I will try to use some version of `wait` in condition to wait for MQTT to be available.

[2022-08-10 13:50] hell1337hound opened #140 "Feature: Webview: Open on windows startup"
Hi would it be possible to have an option where webview can open like a kiosk on reboot or startup

Thanks!

[2022-08-10 15:03] M123-dev opened #141 "Bug: LastSystemStateChange never in SystemShutdown"
**Describe the bug**
When I shut down my pc, the `LastSystemStateChange` never goes to `SystemShutdown` but is marked as unavailable

**Screenshots**
![image](https://user-images.githubusercontent.com/39344769/183932014-61792c89-f6c5-4a20-a3f6-9a7f4b5673e3.png)

**Misc info (please complete the following information):**
 - Windows build (ideally screenshot/info of `winver.exe` output):
   - ![imag

[2022-08-12 15:22] LAB02-Admin commented on #108
Added in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:23] LAB02-Admin commented on #99
Implemented in the latest beta, let me know how it works out: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:23] LAB02-Admin commented on #103
Fixed in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:23] #103 closed

[2022-08-12 15:23] LAB02-Admin commented on #131
Fixed in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:23] #131 closed

[2022-08-12 15:23] LAB02-Admin commented on #128
(hopefully) fixed in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:23] #128 closed

[2022-08-12 15:24] LAB02-Admin commented on #113
Implement in the latest beta, let me know how it goes: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 15:24] LAB02-Admin commented on #79
You can try the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-12 16:17] Otanar1 commented on #79
Hello @LAB02-Admin
I've installed it and it's in testing.
I still don't get notifications, even with everything set up.
I noticed that the web view is not dynamic so it doesn't adjust things to the window size.
I noticed that it is asking for login every time I restart HASS AGENT, which is a nuisance, especially for those who have 2-factor security.
Thank you for your dedication.

[2022-08-12 19:00] gorbunovav commented on #99
@LAB02-Admin Hi! Yes, it works for me. Thank you!

[2022-08-13 04:09] patrickiel opened #142 "Bug: main window visible on startup"
Add the option "Minimize window at program startup" so that the window does not have to be minimized manually every time

[2022-08-13 10:00] #99 closed

[2022-08-13 15:10] pleaseRedo opened #143 "Bug: Home Assistant API connects only via external url. Failed for local ip."
**Describe the bug**
I get the API token and entered lan ip for my home assistant, the connection test failed.

I then tried external domain: xxx.duckdns.org which passed the connection test.

**Screenshots**
![WeChat Image_20220813230854](https://user-images.githubusercontent.com/14801667/184500003-26cc2fd5-b5fc-4d2f-aad6-fe224bfef047.jpg)
![WeChat Image_20220813230907](https://user-images.github

[2022-08-14 07:14] LAB02-Admin commented on #108
Here is fine :)

I'll tweak the parser, thanks for letting me know.

Yea that is by design. WindowsCamera is a lot more readable, so I parse the actual name from the reg entry.

[2022-08-14 07:16] LAB02-Admin commented on #142
What window exactly?

[2022-08-14 07:17] LAB02-Admin commented on #143
That's because HA stops listening to its internal IP if you have duckdns setup. If you want it to listen to both, you can follow this guide:

https://hassagent.readthedocs.io/en/latest/notifications/notification-debugging-ssl/

[2022-08-14 07:24] LAB02-Admin commented on #79
Looks like notifications won't work as-is, because HASS.Agent uses Windows' notifications system. I am planning to implement my own system, because there are a lot of limitations in the Windows one, so when that's done it should work on W7 as well.

You mean resize the content of the webpage to the size of the window? Interesting, I'll see if that can be done and if so, make it a setting.

With a

[2022-08-14 07:25] LAB02-Admin commented on #140
You could do that I guess, by making a webview command, set it's size to your resolution and autohide the taskbar. Then create an automation in HA to trigger the command whenever the PC boots.

[2022-08-14 07:28] hell1337hound commented on #140
Yep, I've done that so far but I think it would be a good option out of the box especially for Windows surfaces. Just saves having another automation

[2022-08-14 07:32] LAB02-Admin commented on #140
I agree :) Created a ticket: [hassagent-131](https://lab02research.youtrack.cloud/issue/hassagent-131).

I'll post back here when it's implemented

[2022-08-14 07:32] #140 closed

[2022-08-14 07:34] LAB02-Admin commented on #139
I've created a ticket: [hassagent-132](lab02research.youtrack.cloud/issue/hassagent-132/)

I'm closing this one to keep the github list tidy, but I'll report back here once it's implemented!

[2022-08-14 07:34] #139 closed

[2022-08-14 07:36] LAB02-Admin commented on #138
Got it, will do :)

I've created a ticket: [hassagent-133](https://lab02research.youtrack.cloud/issue/hassagent-133/).

Closing this one to keep the github list tidy, but I'll report back here once it's done!

[2022-08-14 07:36] #138 closed

[2022-08-14 07:38] #135 closed

[2022-08-14 07:38] LAB02-Admin commented on #124
Closing this. If it still doesn't work, you can install OpenHardwareMonitor and add the sensors through wmi:

https://hassagent.readthedocs.io/en/latest/wmi-examples/#fetch-cpu-temp-from-openhardwaremonitor

[2022-08-14 07:38] #124 closed

[2022-08-14 07:39] LAB02-Admin commented on #118
Added in the latest beta:

https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-14 07:39] #118 closed

[2022-08-14 07:40] #143 closed

[2022-08-14 07:40] LAB02-Admin commented on #129
Closing this to keep the github list tidy, but I'll report back here when it's implemented.

[2022-08-14 07:40] #129 closed

[2022-08-14 07:42] LAB02-Admin commented on #101
I've created a ticket: [hassagent-134](https://lab02research.youtrack.cloud/issue/hassagent-134)

Closing this one to keep the github list tidy, but I'll report back here once it's implemented!

[2022-08-14 07:42] #101 closed

[2022-08-14 07:43] LAB02-Admin commented on #84
Implemented in the latest beta: https://github.com/LAB02-Research/HASS.Agent/releases/tag/2022.13.0-beta2

[2022-08-14 07:43] #84 closed

[2022-08-14 07:43] LAB02-Admin commented on #119
Fixed in the latest beta

[2022-08-14 07:43] #119 closed

[2022-08-14 10:22] patrickiel commented on #142
That window (start-on-login is enabled)
![image](https://user-images.githubusercontent.com/86125971/184532551-99f151d0-e25a-44fb-b4fe-ebabd866b89f.png)

[2022-08-14 10:24] patrickiel commented on #138
Awesome, thank you very much!

[2022-08-14 10:45] LAB02-Admin commented on #142
That's weird, it shouldn't show on launch (even with start-on-login enabled). I'll see if I can find the reason

[2022-08-14 13:21] jamescadd commented on #118
Awesome, looks like a nice update!  Out of curiosity, how did you implement the Monitor sleep/wake features?  Have you tested this alongside any other Windows settings that would be needed for a kiosk setup, like not showing the lock screen?  This was always broken in IOTLink so it will be great to finally have something working :)

[2022-08-14 18:54] LAB02-Admin commented on #118
Monitor sleep is done with a Windows internal api call, wake is done by simulating key presses (instead of moving the mouse). It currently presses the 'arrow up' key.

What exactly do you mean by this, how would not showing the lock screen impact this? Can you describe the usecase (so I can replicate it).

[2022-08-14 20:06] jamescadd commented on #118
The things I usually do for setup are remove the requirement that the user sign in as follows (should disable lock screen):

o   In Settings/Accounts/Sign-In options
  §  Change require sign in to "never"
o   Run netplwiz
  §  Uncheck "users must sign in to login to this computer"

Also I disable connected standby mode so the device never gets put to sleep:

HKEY_LOCAL_MACHINE\SYSTEM\CurrentContro